In [13]:
import pandas as pd
from sqlalchemy import create_engine

# Example DataFrame
# Database connection URL
db_url = "postgresql+psycopg2://brioadmin:Gbsm%401234@briopgdb.postgres.database.azure.com:5432/gmr"
# Create SQLAlchemy engine
engine = create_engine(db_url)


def get_data(query):
    data = pd.read_sql(query, engine)
    return data

data_pile_summary = get_data("SELECT * FROM cyms.pile_summary")
data_pile_summary

,PILE_ID,AVILABLE QUANTITY,PILE WTD GCV,TOP GCV,TOP QNTY,BOTTOM GCV,BOTTOM QNTY,MAX AGING,AVERAGE AGING,>3500,3100-3500,<3100
0,1A,21285.0,3272.7150,3409.9233,10140,3147.8794,11145,84,73.166664,6801,6477,8007
1,1B,29383.0,2972.2112,3042.5867,21723,2772.6330,7660,116,74.100000,0,8163,21220
2,1C,17196.0,3520.8360,3501.7590,10680,3552.1040,6516,80,73.333336,13524,3672,0
3,1D,25426.0,3465.2720,3528.6697,14369,3382.8843,11057,77,69.000000,13719,10350,1357
4,2A,7950.0,2654.5667,0.0000,0,2654.5667,7950,42,40.500000,0,0,7950
5,2B,8405.0,3317.6895,0.0000,0,3317.6895,8405,40,39.500000,0,8405,0
6,2C,25269.0,3196.7346,3323.8240,8800,3128.8262,16469,89,70.750000,8469,3200,13600
7,2D,7506.0,3637.0000,0.0000,0,3637.0000,7506,39,38.500000,7506,0,0
8,3A,10277.0,3090.8704,0.0000,0,3090.8704,10277,108,90.333336,0,7144,3133
9,3B,10408.0,3066.3381,3173.0000,3032,3022.4934,7376,111,109.800000,0,6868,3540
10,3C,12014.0,3102.4666,3153.0000,3348,3082.9438,8666,44,43.000000,0,8364,3650
11,3D,21625.0,3249.6040,3301.3500,10173,3203.6367,11452,48,45.666668,6529,7110,7986
12,4A,21474.0,3146.0398,3079.3618,12261,3234.7770,9213,89,61.500000,2453,12620,6401
13,4B,17640.0,3439.3416,3544.9722,9297,3321.6320,8343,88,78.600000,5817,11823,0
14,4C,20399.0,3507.6797,3337.5720,5202,3565.9082,15197,78,75.571430,9087,11312,0
15,4D,19238.0,3356.8523,3248.0000,2237,3371.1750,17001,75,70.600000,7534,7304,4400
16,WT,8000.0,3200.0000,3200.0000,4000,3200.0000,4000,0,0.000000,8000,21600,0

In [14]:
# Function to compute quantity using if-else condition
def compute_quantity(row):
    if row["TOP QNTY"] > 1000:
        return row["TOP QNTY"]
    else:
        return row["TOP QNTY"] + row["BOTTOM QNTY"]

data_pile_summary["Quantity top"] = data_pile_summary.apply(lambda row: compute_quantity(row), axis=1)
# Function to compute GCV using if-else condition
def compute_gcv(row):
    if row["TOP QNTY"] > 1000:
        return row["TOP GCV"]
    else:
        return row["PILE WTD GCV"]

data_pile_summary ["GCV top"] = data_pile_summary .apply(lambda row: compute_gcv(row), axis=1)
# selecting desired columns from the dataframe
pile_summary_cleaned=data_pile_summary[["PILE_ID","Quantity top","GCV top","BOTTOM GCV","AVERAGE AGING"]]

In [15]:
import pandas as pd

def process_coal_data(df, incoming_coal_gcv, ucl, lcl):
    threshold = 3700  # Given threshold value
    
    # Compute blended GCV values based on given conditions
    df['Blended GCV@20%'] = df.apply(lambda row: (0.8 * incoming_coal_gcv + 0.2 * row['GCV top']) 
                                     if row['Quantity top'] > 0.2 * threshold else 0, axis=1)
    
    df['Blended GCV @15%'] = df.apply(lambda row: (0.85 * incoming_coal_gcv + 0.15 * row['GCV top']) 
                                      if row['GCV top'] > 0.15 * threshold else 0, axis=1)
    
    df['Blended GCV @10%'] = df.apply(lambda row: (0.9 * incoming_coal_gcv + 0.1 * row['GCV top']) 
                                      if row['Blended GCV@20%'] > 0.1 * threshold else 0, axis=1)
    
    # Compute blending possibilities
    df['Blending possibility @ 20%'] = df['Blended GCV@20%'].apply(lambda x: x if lcl < x < ucl else 0)
    df['Blending possibility @ 15%'] = df['Blended GCV @15%'].apply(lambda x: x if lcl < x < ucl else 0)
    df['Blending possibility @ 10%'] = df['Blended GCV @10%'].apply(lambda x: x if lcl < x < ucl else 0)
    
    # Check blending possible
    df['Blending possible'] = df.apply(lambda row: 1 if (row['Blending possibility @ 20%'] + row['Blending possibility @ 15%'] + row['Blending possibility @ 10%']) > 0 else 0, axis=1)
    
    # Compute priority as per aging
    avg_aging = df['AVERAGE AGING'].mean()
    df['Priority as per aging'] = df.apply(lambda row: 1 if row['Blending possible'] == 1 and (row['AVERAGE AGING'] - avg_aging) > 0 else 0, axis=1)
    
    # Compute priority to create approach to bottom coal
    df['Priority to create approach to bottom coal'] = df.apply(lambda row: 1 if (row['BOTTOM GCV'] - row['GCV top']) > 100 else 0, axis=1)
    
    # Compute final priority
    df['PRIORITY'] = df.apply(lambda row: row['Blending possible'] + row['Priority as per aging'] + row['Priority to create approach to bottom coal'] if row['Blending possible'] == 1 else 0, axis=1)
    
    # Rank within each priority group based on AVERAGE AGING (higher aging gets higher rank)
    rank_within_priority = df.groupby('PRIORITY')['AVERAGE AGING'].rank(method='first', ascending=False)
    
    # Adjust PRIORITY based on ranking
    df['PRIORITY'] = df.apply(lambda row: 10 - int(rank_within_priority[row.name]) if row['PRIORITY'] > 0 else 0, axis=1)
    
    return round(df)

In [16]:
incoming_coal_gcv =3500
ucl =3600
lcl = 3096
processed_df = process_coal_data(pile_summary_cleaned, incoming_coal_gcv, ucl, lcl)
processed_df

C:\Users\Shuvadeep\AppData\Local\Temp\ipykernel_17848\93101.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Blended GCV@20%'] = df.apply(lambda row: (0.8 * incoming_coal_gcv + 0.2 * row['GCV top'])
C:\Users\Shuvadeep\AppData\Local\Temp\ipykernel_17848\93101.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Blended GCV @15%'] = df.apply(lambda row: (0.85 * incoming_coal_gcv + 0.15 * row['GCV top'])
C:\Users\Shuvadeep\AppData\Local\Temp\ipykernel_17848\93101.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Blended GCV @10%'] = df.apply(lambda row: (0.9 * incoming_coal_gcv + 0.1 * row['GCV top'])
C:\Users\Shuvadeep\AppData\Local\Temp\ipykernel_17848\93101.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Blending possibility @ 20%'] = df['Blended GCV@20%'].apply(lambda x: x if lcl < x < ucl else 0)
C:\Users\Shuvadeep\AppData\Local\Temp\ipykernel_17848\93101.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Blending possibility @ 15%'] = df['Blended GCV @15%'].apply(lambda x: x if lcl < x < ucl else 0)
C:\Users\Shuvadeep\AppData\Local\Temp\ipykernel_17848\93101.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Blending possibility @ 10%'] = df['Blended GCV @10%'].apply(lambda x: x if lcl < x < ucl else 0)
C:\Users\Shuvadeep\AppData\Local\Temp\ipykernel_17848\93101.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Blending possible'] = df.apply(lambda row: 1 if (row['Blending possibility @ 20%'] + row['Blending possibility @ 15%'] + row['Blending possibility @ 10%']) > 0 else 0, axis=1)
C:\Users\Shuvadeep\AppData\Local\Temp\ipykernel_17848\93101.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Priority as per aging'] = df.apply(lambda row: 1 if row['Blending possible'] == 1 and (row['AVERAGE AGING'] - avg_aging) > 0 else 0, axis=1)

,PILE_ID,Quantity top,GCV top,BOTTOM GCV,AVERAGE AGING,Blended GCV@20%,Blended GCV @15%,Blended GCV @10%,Blending possibility @ 20%,Blending possibility @ 15%,Blending possibility @ 10%,Blending possible,Priority as per aging,Priority to create approach to bottom coal,PRIORITY
0,1A,10140,3410.0,3148.0,73.0,3482.0,3486.0,3491.0,3482.0,3486.0,3491.0,1,1,0,4
1,1B,21723,3043.0,2773.0,74.0,3409.0,3431.0,3454.0,3409.0,3431.0,3454.0,1,1,0,6
2,1C,10680,3502.0,3552.0,73.0,3500.0,3500.0,3500.0,3500.0,3500.0,3500.0,1,1,0,5
3,1D,14369,3529.0,3383.0,69.0,3506.0,3504.0,3503.0,3506.0,3504.0,3503.0,1,1,0,2
4,2A,7950,2655.0,2655.0,40.0,3331.0,3373.0,3415.0,3331.0,3373.0,3415.0,1,0,0,7
5,2B,8405,3318.0,3318.0,40.0,3464.0,3473.0,3482.0,3464.0,3473.0,3482.0,1,0,0,6
6,2C,8800,3324.0,3129.0,71.0,3465.0,3474.0,3482.0,3465.0,3474.0,3482.0,1,1,0,3
7,2D,7506,3637.0,3637.0,38.0,3527.0,3521.0,3514.0,3527.0,3521.0,3514.0,1,0,0,5
8,3A,10277,3091.0,3091.0,90.0,3418.0,3439.0,3459.0,3418.0,3439.0,3459.0,1,1,0,8
9,3B,3032,3173.0,3022.0,110.0,3435.0,3451.0,3467.0,3435.0,3451.0,3467.0,1,1,0,9
10,3C,3348,3153.0,3083.0,43.0,3431.0,3448.0,3465.0,3431.0,3448.0,3465.0,1,0,0,8
11,3D,10173,3301.0,3204.0,46.0,3460.0,3470.0,3480.0,3460.0,3470.0,3480.0,1,0,0,9
12,4A,12261,3079.0,3235.0,62.0,3416.0,3437.0,3458.0,3416.0,3437.0,3458.0,1,0,1,1
13,4B,9297,3545.0,3322.0,79.0,3509.0,3507.0,3504.0,3509.0,3507.0,3504.0,1,1,0,7
14,4C,5202,3338.0,3566.0,76.0,3468.0,3476.0,3484.0,3468.0,3476.0,3484.0,1,1,1,9
15,4D,2237,3248.0,3371.0,71.0,3450.0,3462.0,3475.0,3450.0,3462.0,3475.0,1,1,1,8
16,WT,4000,3200.0,3200.0,0.0,3440.0,3455.0,3470.0,3440.0,3455.0,3470.0,1,0,0,4

In [8]:
def coal_feeding_decision(df, incoming_coal_gcv, ucl, lcl):
    data_coal = get_data("SELECT * FROM cyms.pile_summary")
    total_coal = data_coal[['>3500', '3100-3500', '<3100']].sum().sum()
    data_coal['Percentage Above 3500'] = (data_coal['>3500'].sum() / total_coal) * 100
    data_coal['Percentage Below 3100'] = (data_coal['<3100'].sum() / total_coal) * 100
    
    decisions = {}
    
    decision_flags = {
        "Direct Feeding (Healthy Yard)": 0,
        "Direct Feeding (Good Quality, High Quantity)": 0,
        "Direct Feeding (Low Quality, No Good Coal)": 0,
        "Blending with Direct Feeding (In Range)": 0,
        "Blending with Direct Feeding (Out of Range)": 0,
        "Stacking": 0
    }
    
    if incoming_coal_gcv < ucl and incoming_coal_gcv > lcl and data_coal['Percentage Above 3500'].iloc[0] < 10:
        decisions["Direct Feeding (Healthy Yard)"] = 1
        decision_flags["Direct Feeding (Healthy Yard)"] = 1
    
    if incoming_coal_gcv > 3500 and incoming_coal_gcv < 4000 and data_coal['Percentage Below 3100'].iloc[0] > 70:
        decisions["Direct Feeding (Good Quality, High Quantity)"] = 1
        decision_flags["Direct Feeding (Good Quality, High Quantity)"] = 1
    
    if incoming_coal_gcv < 3000 and incoming_coal_gcv > 2300 and data_coal['Percentage Above 3500'].iloc[0] > 80:
        decisions["Direct Feeding (Low Quality, No Good Coal)"] = 1
        decision_flags["Direct Feeding (Low Quality, No Good Coal)"] = 1
    
    if incoming_coal_gcv > lcl and incoming_coal_gcv < ucl and data_coal['Percentage Above 3500'].iloc[0] > 10 and df[['Blending possibility @ 20%', 'Blending possibility @ 15%', 'Blending possibility @ 10%']].sum().sum() > 0:
        decisions["Blending with Direct Feeding (In Range) And PILE NO"] = df.loc[df['PRIORITY'].idxmax(), 'PILE_ID']
        decision_flags["Blending with Direct Feeding (In Range)"] = 1
    
    if (incoming_coal_gcv > ucl or incoming_coal_gcv < lcl) and df[['Blending possibility @ 20%', 'Blending possibility @ 15%', 'Blending possibility @ 10%']].sum().sum() > 0:
        decisions["Blending with Direct Feeding (Out of Range) And PILE NO"] = df.loc[df['PRIORITY'].idxmax(), 'PILE_ID']
        decision_flags["Blending with Direct Feeding (Out of Range)"] = 1
    
    if not decisions:
        decisions["Stacking"] = 1
        decision_flags["Stacking"] = 1
    
    decision_df = pd.DataFrame(list(decision_flags.items()), columns=["Decision Criteria", "Decision Flag"])
    
    return decisions, decision_df

In [10]:
decision,decision_df = coal_feeding_decision(processed_df, incoming_coal_gcv, ucl, lcl)
decision

{'Blending with Direct Feeding (In Range) And PILE NO': '3B'}

In [3]:
# Function to compute quantity using if-else condition
def compute_quantity(row):
    if row["TOP QNTY"] > 1000:
        return row["TOP QNTY"]
    else:
        return row["TOP QNTY"] + row["BOTTOM QNTY"]

data_pile_summary["Quantity top"] = data_pile_summary.apply(lambda row: compute_quantity(row), axis=1)

# Display the new DataFrame
data_pile_summary

,PILE_ID,AVILABLE QUANTITY,PILE WTD GCV,TOP GCV,TOP QNTY,BOTTOM GCV,BOTTOM QNTY,MAX AGING,AVERAGE AGING,>3500,3100-3500,<3100,Quantity top
0,1A,21285.0,3272.7150,3409.9233,10140,3147.8794,11145,84,73.166664,6801,6477,8007,10140
1,1B,29383.0,2972.2112,3042.5867,21723,2772.6330,7660,116,74.100000,0,8163,21220,21723
2,1C,17196.0,3520.8360,3501.7590,10680,3552.1040,6516,80,73.333336,13524,3672,0,10680
3,1D,25426.0,3465.2720,3528.6697,14369,3382.8843,11057,77,69.000000,13719,10350,1357,14369
4,2A,7950.0,2654.5667,0.0000,0,2654.5667,7950,42,40.500000,0,0,7950,7950
5,2B,8405.0,3317.6895,0.0000,0,3317.6895,8405,40,39.500000,0,8405,0,8405
6,2C,25269.0,3196.7346,3323.8240,8800,3128.8262,16469,89,70.750000,8469,3200,13600,8800
7,2D,7506.0,3637.0000,0.0000,0,3637.0000,7506,39,38.500000,7506,0,0,7506
8,3A,10277.0,3090.8704,0.0000,0,3090.8704,10277,108,90.333336,0,7144,3133,10277
9,3B,10408.0,3066.3381,3173.0000,3032,3022.4934,7376,111,109.800000,0,6868,3540,3032
10,3C,12014.0,3102.4666,3153.0000,3348,3082.9438,8666,44,43.000000,0,8364,3650,3348
11,3D,21625.0,3249.6040,3301.3500,10173,3203.6367,11452,48,45.666668,6529,7110,7986,10173
12,4A,21474.0,3146.0398,3079.3618,12261,3234.7770,9213,89,61.500000,2453,12620,6401,12261
13,4B,17640.0,3439.3416,3544.9722,9297,3321.6320,8343,88,78.600000,5817,11823,0,9297
14,4C,20399.0,3507.6797,3337.5720,5202,3565.9082,15197,78,75.571430,9087,11312,0,5202
15,4D,19238.0,3356.8523,3248.0000,2237,3371.1750,17001,75,70.600000,7534,7304,4400,2237
16,WT,8000.0,3200.0000,3200.0000,4000,3200.0000,4000,0,0.000000,8000,21600,0,4000

In [4]:
# Function to compute GCV using if-else condition
def compute_gcv(row):
    if row["TOP QNTY"] > 1000:
        return row["TOP GCV"]
    else:
        return row["PILE WTD GCV"]

data_pile_summary ["GCV top"] = data_pile_summary .apply(lambda row: compute_gcv(row), axis=1)

# Display the new DataFrame
data_pile_summary

,PILE_ID,AVILABLE QUANTITY,PILE WTD GCV,TOP GCV,TOP QNTY,BOTTOM GCV,BOTTOM QNTY,MAX AGING,AVERAGE AGING,>3500,3100-3500,<3100,Quantity top,GCV top
0,1A,21285.0,3272.7150,3409.9233,10140,3147.8794,11145,84,73.166664,6801,6477,8007,10140,3409.9233
1,1B,29383.0,2972.2112,3042.5867,21723,2772.6330,7660,116,74.100000,0,8163,21220,21723,3042.5867
2,1C,17196.0,3520.8360,3501.7590,10680,3552.1040,6516,80,73.333336,13524,3672,0,10680,3501.7590
3,1D,25426.0,3465.2720,3528.6697,14369,3382.8843,11057,77,69.000000,13719,10350,1357,14369,3528.6697
4,2A,7950.0,2654.5667,0.0000,0,2654.5667,7950,42,40.500000,0,0,7950,7950,2654.5667
5,2B,8405.0,3317.6895,0.0000,0,3317.6895,8405,40,39.500000,0,8405,0,8405,3317.6895
6,2C,25269.0,3196.7346,3323.8240,8800,3128.8262,16469,89,70.750000,8469,3200,13600,8800,3323.8240
7,2D,7506.0,3637.0000,0.0000,0,3637.0000,7506,39,38.500000,7506,0,0,7506,3637.0000
8,3A,10277.0,3090.8704,0.0000,0,3090.8704,10277,108,90.333336,0,7144,3133,10277,3090.8704
9,3B,10408.0,3066.3381,3173.0000,3032,3022.4934,7376,111,109.800000,0,6868,3540,3032,3173.0000
10,3C,12014.0,3102.4666,3153.0000,3348,3082.9438,8666,44,43.000000,0,8364,3650,3348,3153.0000
11,3D,21625.0,3249.6040,3301.3500,10173,3203.6367,11452,48,45.666668,6529,7110,7986,10173,3301.3500
12,4A,21474.0,3146.0398,3079.3618,12261,3234.7770,9213,89,61.500000,2453,12620,6401,12261,3079.3618
13,4B,17640.0,3439.3416,3544.9722,9297,3321.6320,8343,88,78.600000,5817,11823,0,9297,3544.9722
14,4C,20399.0,3507.6797,3337.5720,5202,3565.9082,15197,78,75.571430,9087,11312,0,5202,3337.5720
15,4D,19238.0,3356.8523,3248.0000,2237,3371.1750,17001,75,70.600000,7534,7304,4400,2237,3248.0000
16,WT,8000.0,3200.0000,3200.0000,4000,3200.0000,4000,0,0.000000,8000,21600,0,4000,3200.0000

In [5]:
# selecting desired columns from the dataframe
pile_summary_cleaned=data_pile_summary[["PILE_ID","Quantity top","GCV top","BOTTOM GCV","AVERAGE AGING"]]
pile_summary_cleaned

   PILE_ID  Quantity top    GCV top  BOTTOM GCV  AVERAGE AGING
0       1A         10140  3409.9233   3147.8794      73.166664
1       1B         21723  3042.5867   2772.6330      74.100000
2       1C         10680  3501.7590   3552.1040      73.333336
3       1D         14369  3528.6697   3382.8843      69.000000
4       2A          7950  2654.5667   2654.5667      40.500000
5       2B          8405  3317.6895   3317.6895      39.500000
6       2C          8800  3323.8240   3128.8262      70.750000
7       2D          7506  3637.0000   3637.0000      38.500000
8       3A         10277  3090.8704   3090.8704      90.333336
9       3B          3032  3173.0000   3022.4934     109.800000
10      3C          3348  3153.0000   3082.9438      43.000000
11      3D         10173  3301.3500   3203.6367      45.666668
12      4A         12261  3079.3618   3234.7770      61.500000
13      4B          9297  3544.9722   3321.6320      78.600000
14      4C          5202  3337.5720   3565.9082      75.571430
15      4D          2237  3248.0000   3371.1750      70.600000
16     WT           4000  3200.0000   3200.0000       0.000000

In [6]:
import pandas as pd

def process_coal_data(df, incoming_coal_gcv, ucl, lcl):
    threshold = 3700  # Given threshold value
    
    # Compute blended GCV values based on given conditions
    df['Blended GCV@20%'] = df.apply(lambda row: (0.8 * incoming_coal_gcv + 0.2 * row['GCV top']) 
                                     if row['Quantity top'] > 0.2 * threshold else 0, axis=1)
    
    df['Blended GCV @15%'] = df.apply(lambda row: (0.85 * incoming_coal_gcv + 0.15 * row['GCV top']) 
                                      if row['GCV top'] > 0.15 * threshold else 0, axis=1)
    
    df['Blended GCV @10%'] = df.apply(lambda row: (0.9 * incoming_coal_gcv + 0.1 * row['GCV top']) 
                                      if row['Blended GCV@20%'] > 0.1 * threshold else 0, axis=1)
    
    # Compute blending possibilities
    df['Blending possibility @ 20%'] = df['Blended GCV@20%'].apply(lambda x: x if lcl < x < ucl else 0)
    df['Blending possibility @ 15%'] = df['Blended GCV @15%'].apply(lambda x: x if lcl < x < ucl else 0)
    df['Blending possibility @ 10%'] = df['Blended GCV @10%'].apply(lambda x: x if lcl < x < ucl else 0)
    
    # Check blending possible
    df['Blending possible'] = df.apply(lambda row: 1 if (row['Blending possibility @ 20%'] + row['Blending possibility @ 15%'] + row['Blending possibility @ 10%']) > 0 else 0, axis=1)
    
    # Compute priority as per aging
    avg_aging = df['AVERAGE AGING'].mean()
    df['Priority as per aging'] = df.apply(lambda row: 1 if row['Blending possible'] == 1 and (row['AVERAGE AGING'] - avg_aging) > 0 else 0, axis=1)
    
    # Compute priority to create approach to bottom coal
    df['Priority to create approach to bottom coal'] = df.apply(lambda row: 1 if (row['BOTTOM GCV'] - row['GCV top']) > 100 else 0, axis=1)
    
    # Compute final priority
    df['PRIORITY'] = df.apply(lambda row: row['Blending possible'] + row['Priority as per aging'] + row['Priority to create approach to bottom coal'] if row['Blending possible'] == 1 else 0, axis=1)
    
    return round(df)

In [7]:
incoming_coal_gcv=3900
ucl=3531
lcl=3069
Final_data=process_coal_data(pile_summary_cleaned,incoming_coal_gcv,ucl, lcl)
Final_data

C:\Users\Shuvadeep\AppData\Local\Temp\ipykernel_11928\1106116757.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Blended GCV@20%'] = df.apply(lambda row: (0.8 * incoming_coal_gcv + 0.2 * row['GCV top'])
C:\Users\Shuvadeep\AppData\Local\Temp\ipykernel_11928\1106116757.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Blended GCV @15%'] = df.apply(lambda row: (0.85 * incoming_coal_gcv + 0.15 * row['GCV top'])
C:\Users\Shuvadeep\AppData\Local\Temp\ipykernel_11928\1106116757.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Blended GCV @10%'] = df.apply(lambda row: (0.9 * incoming_coal_gcv + 0.1 * row['GCV top'])
C:\Users\Shuvadeep\AppData\Local\Temp\ipykernel_11928\1106116757.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Blending possibility @ 20%'] = df['Blended GCV@20%'].apply(lambda x: x if lcl < x < ucl else 0)
C:\Users\Shuvadeep\AppData\Local\Temp\ipykernel_11928\1106116757.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Blending possibility @ 15%'] = df['Blended GCV @15%'].apply(lambda x: x if lcl < x < ucl else 0)
C:\Users\Shuvadeep\AppData\Local\Temp\ipykernel_11928\1106116757.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Blending possibility @ 10%'] = df['Blended GCV @10%'].apply(lambda x: x if lcl < x < ucl else 0)
C:\Users\Shuvadeep\AppData\Local\Temp\ipykernel_11928\1106116757.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Blending possible'] = df.apply(lambda row: 1 if (row['Blending possibility @ 20%'] + row['Blending possibility @ 15%'] + row['Blending possibility @ 10%']) > 0 else 0, axis=1)
C:\Users\Shuvadeep\AppData\Local\Temp\ipykernel_11928\1106116757.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Priority as per aging'] = df.apply(lambda row: 1 if row['Blending possible'] == 1 and (row['AVERAGE AGING'] - avg_aging) > 0 else 0, axis=1)

,PILE_ID,Quantity top,GCV top,BOTTOM GCV,AVERAGE AGING,Blended GCV@20%,Blended GCV @15%,Blended GCV @10%,Blending possibility @ 20%,Blending possibility @ 15%,Blending possibility @ 10%,Blending possible,Priority as per aging,Priority to create approach to bottom coal,PRIORITY
0,1A,10140,3410.0,3148.0,73.0,3802.0,3826.0,3851.0,0,0,0,0,0,0,0
1,1B,21723,3043.0,2773.0,74.0,3729.0,3771.0,3814.0,0,0,0,0,0,0,0
2,1C,10680,3502.0,3552.0,73.0,3820.0,3840.0,3860.0,0,0,0,0,0,0,0
3,1D,14369,3529.0,3383.0,69.0,3826.0,3844.0,3863.0,0,0,0,0,0,0,0
4,2A,7950,2655.0,2655.0,40.0,3651.0,3713.0,3775.0,0,0,0,0,0,0,0
5,2B,8405,3318.0,3318.0,40.0,3784.0,3813.0,3842.0,0,0,0,0,0,0,0
6,2C,8800,3324.0,3129.0,71.0,3785.0,3814.0,3842.0,0,0,0,0,0,0,0
7,2D,7506,3637.0,3637.0,38.0,3847.0,3861.0,3874.0,0,0,0,0,0,0,0
8,3A,10277,3091.0,3091.0,90.0,3738.0,3779.0,3819.0,0,0,0,0,0,0,0
9,3B,3032,3173.0,3022.0,110.0,3755.0,3791.0,3827.0,0,0,0,0,0,0,0
10,3C,3348,3153.0,3083.0,43.0,3751.0,3788.0,3825.0,0,0,0,0,0,0,0
11,3D,10173,3301.0,3204.0,46.0,3780.0,3810.0,3840.0,0,0,0,0,0,0,0
12,4A,12261,3079.0,3235.0,62.0,3736.0,3777.0,3818.0,0,0,0,0,0,1,0
13,4B,9297,3545.0,3322.0,79.0,3829.0,3847.0,3864.0,0,0,0,0,0,0,0
14,4C,5202,3338.0,3566.0,76.0,3788.0,3816.0,3844.0,0,0,0,0,0,1,0
15,4D,2237,3248.0,3371.0,71.0,3770.0,3802.0,3835.0,0,0,0,0,0,1,0
16,WT,4000,3200.0,3200.0,0.0,3760.0,3795.0,3830.0,0,0,0,0,0,0,0

In [11]:
import pandas as pd

def coal_feeding_decision(df, incoming_coal_gcv, ucl, lcl):
    data_coal = get_data("SELECT * FROM cyms.pile_summary")
    total_coal = data_coal[['>3500', '3100-3500', '<3100']].sum().sum()
    data_coal['Percentage Above 3500'] = (data_coal['>3500'].sum() / total_coal) * 100
    data_coal['Percentage Below 3100'] = (data_coal['<3100'].sum() / total_coal) * 100
    
    decisions = {}
    
    decision_flags = {
        "Direct Feeding (Healthy Yard)": 0,
        "Direct Feeding (Good Quality, High Quantity)": 0,
        "Direct Feeding (Low Quality, No Good Coal)": 0,
        "Blending with Direct Feeding (In Range)": 0,
        "Blending with Direct Feeding (Out of Range)": 0,
        "Stacking": 0
    }
    
    if incoming_coal_gcv < ucl and incoming_coal_gcv > lcl and data_coal['Percentage Above 3500'].iloc[0] < 10:
        decisions["Direct Feeding (Healthy Yard)"] = 1
        decision_flags["Direct Feeding (Healthy Yard)"] = 1
    
    if incoming_coal_gcv > 3500 and incoming_coal_gcv < 4000 and data_coal['Percentage Below 3100'].iloc[0] > 70:
        decisions["Direct Feeding (Good Quality, High Quantity)"] = 1
        decision_flags["Direct Feeding (Good Quality, High Quantity)"] = 1
    
    if incoming_coal_gcv < 3000 and incoming_coal_gcv > 2300 and data_coal['Percentage Above 3500'].iloc[0] > 80:
        decisions["Direct Feeding (Low Quality, No Good Coal)"] = 1
        decision_flags["Direct Feeding (Low Quality, No Good Coal)"] = 1
    
    if incoming_coal_gcv > lcl and incoming_coal_gcv < ucl and data_coal['Percentage Above 3500'].iloc[0] > 10 and df[['Blending possibility @ 20%', 'Blending possibility @ 15%', 'Blending possibility @ 10%']].sum().sum() > 0:
        decisions["Blending with Direct Feeding (In Range) And PILE NO"] = df.loc[df['PRIORITY'].idxmax(), 'PILE_ID']
        decision_flags["Blending with Direct Feeding (In Range)"] = 1
    
    if (incoming_coal_gcv > ucl or incoming_coal_gcv < lcl) and df[['Blending possibility @ 20%', 'Blending possibility @ 15%', 'Blending possibility @ 10%']].sum().sum() > 0:
        decisions["Blending with Direct Feeding (Out of Range) And PILE NO"] = df.loc[df['PRIORITY'].idxmax(), 'PILE_ID']
        decision_flags["Blending with Direct Feeding (Out of Range)"] = 1
    
    if not decisions:
        decisions["Stacking"] = 1
        decision_flags["Stacking"] = 1
    
    decision_df = pd.DataFrame(list(decision_flags.items()), columns=["Decision Criteria", "Decision Flag"])
    
    return decisions, decision_df

In [ ]:
def coal_feeding_decision(df, incoming_coal_gcv, ucl, lcl):
    data_coal = get_data("SELECT * FROM cyms.pile_summary")
    total_coal = data_coal[['>3500', '3100-3500', '<3100']].sum().sum()
    data_coal['Percentage Above 3500'] = (data_coal['>3500'].sum() / total_coal) * 100
    data_coal['Percentage Below 3100'] = (data_coal['<3100'].sum() / total_coal) * 100
    
    decisions = {}
    
    if incoming_coal_gcv < ucl and incoming_coal_gcv > lcl and data_coal['Percentage Above 3500'].iloc[0] < 10:
        decisions["Direct Feeding (Healthy Yard)"] = 1
    if incoming_coal_gcv > 3500 and incoming_coal_gcv < 4000 and data_coal['Percentage Below 3100'].iloc[0] > 70:
        decisions["Direct Feeding (Good Quality, High Quantity)"] = 1
    if incoming_coal_gcv < 3000 and incoming_coal_gcv > 2300 and data_coal['Percentage Above 3500'].iloc[0] > 80:
        decisions["Direct Feeding (Low Quality, No Good Coal)"] = 1
    if incoming_coal_gcv > lcl and incoming_coal_gcv < ucl and data_coal['Percentage Above 3500'].iloc[0] > 10 and df[['Blending possibility @ 20%', 'Blending possibility @ 15%', 'Blending possibility @ 10%']].sum().sum() > 0:
        decisions["Blending with Direct Feeding (In Range)"] = df.loc[df['PRIORITY'].idxmax(), 'PILE_ID']
    if (incoming_coal_gcv > ucl or incoming_coal_gcv < lcl) and df[['Blending possibility @ 20%', 'Blending possibility @ 15%', 'Blending possibility @ 10%']].sum().sum() > 0:
        decisions["Blending with Direct Feeding (Out of Range)"] = df.loc[df['PRIORITY'].idxmax(), 'PILE_ID']
    
    # Stacking condition: If no other decisions are taken
    if not decisions:
        decisions["Stacking"] = 1
    
    return decisions

In [12]:
decisions,decision_df=coal_feeding_decision(Final_data,incoming_coal_gcv,ucl,lcl)
decisions

{'Stacking': 1}

In [13]:
decision_df

                              Decision Criteria  Decision Flag
0                 Direct Feeding (Healthy Yard)              0
1  Direct Feeding (Good Quality, High Quantity)              0
2    Direct Feeding (Low Quality, No Good Coal)              0
3       Blending with Direct Feeding (In Range)              0
4   Blending with Direct Feeding (Out of Range)              0
5                                      Stacking              1

In [ ]:
import dash
from dash import dcc, html, Input, Output, dash_table
import pandas as pd
import dash_bootstrap_components as dbc

# Sample data for testing
df = pd.DataFrame(data)

# Dash App Setup
app = dash.Dash(__name__, external_stylesheets=[dbc.themes.BOOTSTRAP])

app.layout = dbc.Container([
    html.H2("Coal Blending Decision System"),
    dbc.Row([
        dbc.Col(dcc.Input(id='incoming_coal_gcv', type='number', placeholder='Incoming Coal GCV', debounce=True)),
        dbc.Col(dcc.Input(id='ucl', type='number', placeholder='UCL', debounce=True)),
        dbc.Col(dcc.Input(id='lcl', type='number', placeholder='LCL', debounce=True)),
        dbc.Col(dbc.Button("Process", id='process_button', color='primary'))
    ], className='mb-3'),
    
    dash_table.DataTable(id='table', style_table={'overflowX': 'auto'}),
    html.Br(),
    
    html.Div([
        dbc.Tabs([
            dbc.Tab(label="Decision", tab_id="decision")
        ], id="tabs", active_tab="decision"),
        html.Div(id="decision_output")
    ], style={"background-color": "#343a40", "padding": "10px", "border-radius": "5px", "margin-bottom": "10px"})
])

@app.callback(
    [Output('table', 'data'), Output('table', 'columns'), Output('decision_output', 'children')],
    [Input('process_button', 'n_clicks')],
    [dash.dependencies.State('incoming_coal_gcv', 'value'),
     dash.dependencies.State('ucl', 'value'),
     dash.dependencies.State('lcl', 'value')]
)
def update_output(n_clicks, incoming_coal_gcv, ucl, lcl):
    if n_clicks is None or incoming_coal_gcv is None or ucl is None or lcl is None:
        return [], [], ""
    
    processed_df = process_coal_data(df.copy(), incoming_coal_gcv, ucl, lcl)
    decision = coal_feeding_decision(processed_df, incoming_coal_gcv, ucl, lcl)
    
    columns = [{"name": i, "id": i} for i in processed_df.columns]
    decision_text = html.Div([html.P(f"{k}: {v}") for k, v in decision.items()])
    
    return processed_df.to_dict('records'), columns, decision_text

if __name__ == '__main__':
    app.run_server(debug=True)