## 6.pile_summary

In [177]:
# installs the openpyxl library, which is used to work with Excel files (.xlsx format) in Python.
#pip install openpyxl
!pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.11/dist-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.11/dist-packages (from openpyxl) (2.0.0)

In [178]:

import pandas as pd
from google.colab import drive
# Mount Google Drive (Uncomment if running in Google Colab)
drive.mount('/content/drive')
# Define the file path (modify according to your directory structure)
file_path = '/content/drive/MyDrive/GMR/GKEL_Coal_yard_MIS.XLSX'  # Change to actual file path

# Load a specific sheet
# Change to your desired sheet name
df_pile_summary = pd.read_excel(file_path, sheet_name='summery ')
df_pile_summary

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,SPUR WISE STACKING,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,0,1,0,0,0,0,1,...,0,0,1,0,0,0,NaN,NaN,NaN,NaN
4,NaN,SPUR 1,NaN,0,1,0,0,1,0,1,...,0,0,1,0,1,0,NaN,NaN,NaN,NaN
5,NaN,SPUR 2,NaN,1,0,0,0,0,0,1,...,0,0,0,0,1,0,NaN,NaN,NaN,NaN
6,NaN,SPUR 3,NaN,0,0,0,0,0,0,0,...,0,0,1,0,0,0,NaN,NaN,NaN,NaN
7,NaN,SPUR 4,NaN,0,0,0,0,0,0,1,...,0,1,1,0,0,0,NaN,NaN,NaN,NaN
8,NaN,SPUR 5,NaN,0,1,0,0,0,0,0,...,0,0,1,0,0,1,NaN,NaN,NaN,NaN
9,NaN,SPUR 6,NaN,0,0,0,0,0,1,1,...,0,1,0,1,0,0,NaN,NaN,NaN,NaN
10,NaN,SPUR 7,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
11,NaN,SPUR 8,NaN,0,0,0,0,0,0,0,...,1,0,0,0,0,1,NaN,NaN,NaN,NaN
12,NaN,SPUR 9,NaN,0,1,0,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
13,NaN,SPUR 10,NaN,0,1,0,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
14,NaN,SILO,NaN,1,0,1,0,0,1,0,...,1,0,1,0,0,0,NaN,NaN,NaN,NaN
15,NaN,DB,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
16,NaN,COAL QUANTITY AND QUALITY PILEWISE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,PILE,Total,1A,1B,1C,1D,2A,2B,2C,...,3C,3D,4A,4B,4C,4D,WT,total,NaN,NaN
18,NaN,AVILABLE QUANITY,283495,21285,29383,17196,25426,7950,8405,25269,...,12014,21625,21474,17640,20399,19238,8000,283495,NaN,NaN
19,NaN,PILE WTD GCV,3258.951557,3272.715011,2972.211079,3520.835996,3465.27191,2654.566541,3317.689352,3196.734639,...,3102.466657,3249.603911,3146.039676,3439.341474,3507.679689,3356.8523,3200,3258.951557,NaN,NaN
20,NaN,TOP GCV,3296.190626,3409.923373,3042.586574,3501.759067,3528.669559,0,0,3323.823864,...,3153,3301.350191,3079.361798,3544.972207,3337.572088,3248,3200,3296.190626,NaN,NaN
21,NaN,TOP QNTY,115262,10140,21723,10680,14369,0,0,8800,...,3348,10173,12261,9297,5202,2237,4000,115262,NaN,NaN
22,NaN,BOTTOM GCV,3234.252237,3147.879408,2772.633159,3552.103891,3382.884209,2654.566541,3317.689352,3128.826133,...,3082.943736,3203.636838,3234.777054,3321.632147,3565.908269,3371.17514,3200,3234.252237,NaN,NaN
23,NaN,BOTTOM QNTY,164233,11145,7660,6516,11057,7950,8405,16469,...,8666,11452,9213,8343,15197,17001,4000,164233,NaN,NaN
24,NaN,MAX AGING,116,84,116,80,77,42,40,89,...,44,48,89,88,78,75,0,116,NaN,NaN
25,NaN,AVERAGE AGING,61.995378,73.166667,74.1,73.333333,69,40.5,39.5,70.75,...,43,45.666667,61.5,78.6,75.571429,70.6,0,61.995378,NaN,NaN
26,NaN,>3500,89439,6801,0,13524,13719,0,0,8469,...,0,6529,2453,5817,9087,7534,8000,89439,NaN,0.315487
27,NaN,3100-3500,134412,6477,8163,3672,10350,0,8405,3200,...,8364,7110,12620,11823,11312,7304,21600,134412,NaN,0.474125
28,NaN,<3100,81244,8007,21220,0,1357,7950,0,13600,...,3650,7986,6401,0,0,4400,0,81244,NaN,0.286580
29,NaN,LAST COAL RAKE GCV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,SPUR,NO OF RAKES,1,2,3,4,5,6,7,...,SILO,DB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,LAST RAKE AVG GCV,5,2853.648015,2945.288414,2898.518142,2864.765736,3636.893426,3304.328832,3188.874318,...,3119.330587,3119.2485,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [169]:
df_pile_summary.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22'],
      dtype='object')

In [179]:
df_pile_summary_cleaned = df_pile_summary.iloc[17:29,1:20]
df_pile_summary_cleaned

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
17,PILE,Total,1A,1B,1C,1D,2A,2B,2C,2D,3A,3B,3C,3D,4A,4B,4C,4D,WT
18,AVILABLE QUANITY,283495,21285,29383,17196,25426,7950,8405,25269,7506,10277,10408,12014,21625,21474,17640,20399,19238,8000
19,PILE WTD GCV,3258.951557,3272.715011,2972.211079,3520.835996,3465.27191,2654.566541,3317.689352,3196.734639,3637,3090.870293,3066.338143,3102.466657,3249.603911,3146.039676,3439.341474,3507.679689,3356.8523,3200
20,TOP GCV,3296.190626,3409.923373,3042.586574,3501.759067,3528.669559,0,0,3323.823864,0,0,3173,3153,3301.350191,3079.361798,3544.972207,3337.572088,3248,3200
21,TOP QNTY,115262,10140,21723,10680,14369,0,0,8800,0,0,3032,3348,10173,12261,9297,5202,2237,4000
22,BOTTOM GCV,3234.252237,3147.879408,2772.633159,3552.103891,3382.884209,2654.566541,3317.689352,3128.826133,3637,3090.870293,3022.493409,3082.943736,3203.636838,3234.777054,3321.632147,3565.908269,3371.17514,3200
23,BOTTOM QNTY,164233,11145,7660,6516,11057,7950,8405,16469,7506,10277,7376,8666,11452,9213,8343,15197,17001,4000
24,MAX AGING,116,84,116,80,77,42,40,89,39,108,111,44,48,89,88,78,75,0
25,AVERAGE AGING,61.995378,73.166667,74.1,73.333333,69,40.5,39.5,70.75,38.5,90.333333,109.8,43,45.666667,61.5,78.6,75.571429,70.6,0
26,>3500,89439,6801,0,13524,13719,0,0,8469,7506,0,0,0,6529,2453,5817,9087,7534,8000
27,3100-3500,134412,6477,8163,3672,10350,0,8405,3200,0,7144,6868,8364,7110,12620,11823,11312,7304,21600
28,<3100,81244,8007,21220,0,1357,7950,0,13600,0,3133,3540,3650,7986,6401,0,0,4400,0

In [181]:
# Renaming the index number
df_pile_summary_cleaned.rename(index={17: 'PILE_ID', 18: 'AVILABLE QUANTITY',19:'PILE WTD GCV',20:'TOP GCV',21:'TOP QNTY',22:'BOTTOM GCV',23:'BOTTOM QNTY',24:'MAX AGING',25:'AVERAGE AGING',26:'>3500',27:'3100-3500',28:'<3100'}, inplace=True)
df_pile_summary_cleaned

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
PILE_ID,PILE,Total,1A,1B,1C,1D,2A,2B,2C,2D,3A,3B,3C,3D,4A,4B,4C,4D,WT
AVILABLE QUANTITY,AVILABLE QUANITY,283495,21285,29383,17196,25426,7950,8405,25269,7506,10277,10408,12014,21625,21474,17640,20399,19238,8000
PILE WTD GCV,PILE WTD GCV,3258.951557,3272.715011,2972.211079,3520.835996,3465.27191,2654.566541,3317.689352,3196.734639,3637,3090.870293,3066.338143,3102.466657,3249.603911,3146.039676,3439.341474,3507.679689,3356.8523,3200
TOP GCV,TOP GCV,3296.190626,3409.923373,3042.586574,3501.759067,3528.669559,0,0,3323.823864,0,0,3173,3153,3301.350191,3079.361798,3544.972207,3337.572088,3248,3200
TOP QNTY,TOP QNTY,115262,10140,21723,10680,14369,0,0,8800,0,0,3032,3348,10173,12261,9297,5202,2237,4000
BOTTOM GCV,BOTTOM GCV,3234.252237,3147.879408,2772.633159,3552.103891,3382.884209,2654.566541,3317.689352,3128.826133,3637,3090.870293,3022.493409,3082.943736,3203.636838,3234.777054,3321.632147,3565.908269,3371.17514,3200
BOTTOM QNTY,BOTTOM QNTY,164233,11145,7660,6516,11057,7950,8405,16469,7506,10277,7376,8666,11452,9213,8343,15197,17001,4000
MAX AGING,MAX AGING,116,84,116,80,77,42,40,89,39,108,111,44,48,89,88,78,75,0
AVERAGE AGING,AVERAGE AGING,61.995378,73.166667,74.1,73.333333,69,40.5,39.5,70.75,38.5,90.333333,109.8,43,45.666667,61.5,78.6,75.571429,70.6,0
>3500,>3500,89439,6801,0,13524,13719,0,0,8469,7506,0,0,0,6529,2453,5817,9087,7534,8000
3100-3500,3100-3500,134412,6477,8163,3672,10350,0,8405,3200,0,7144,6868,8364,7110,12620,11823,11312,7304,21600
<3100,<3100,81244,8007,21220,0,1357,7950,0,13600,0,3133,3540,3650,7986,6401,0,0,4400,0

In [172]:
#Tranposing the dataframe
df_pile_summary_T=df_pile_summary_cleaned.T
df_pile_summary_T

,PILE_ID,AVILABLE QUANTITY,PILE WTD GCV,TOP GCV,TOP QNTY,BOTTOM GCV,BOTTOM QNTY,MAX AGING,AVERAGE AGING,>3500,3100-3500,<3100
Unnamed: 1,PILE,AVILABLE QUANITY,PILE WTD GCV,TOP GCV,TOP QNTY,BOTTOM GCV,BOTTOM QNTY,MAX AGING,AVERAGE AGING,>3500,3100-3500,<3100
Unnamed: 2,Total,283495,3258.951557,3296.190626,115262,3234.252237,164233,116,61.995378,89439,134412,81244
Unnamed: 3,1A,21285,3272.715011,3409.923373,10140,3147.879408,11145,84,73.166667,6801,6477,8007
Unnamed: 4,1B,29383,2972.211079,3042.586574,21723,2772.633159,7660,116,74.1,0,8163,21220
Unnamed: 5,1C,17196,3520.835996,3501.759067,10680,3552.103891,6516,80,73.333333,13524,3672,0
Unnamed: 6,1D,25426,3465.27191,3528.669559,14369,3382.884209,11057,77,69,13719,10350,1357
Unnamed: 7,2A,7950,2654.566541,0,0,2654.566541,7950,42,40.5,0,0,7950
Unnamed: 8,2B,8405,3317.689352,0,0,3317.689352,8405,40,39.5,0,8405,0
Unnamed: 9,2C,25269,3196.734639,3323.823864,8800,3128.826133,16469,89,70.75,8469,3200,13600
Unnamed: 10,2D,7506,3637,0,0,3637,7506,39,38.5,7506,0,0
Unnamed: 11,3A,10277,3090.870293,0,0,3090.870293,10277,108,90.333333,0,7144,3133
Unnamed: 12,3B,10408,3066.338143,3173,3032,3022.493409,7376,111,109.8,0,6868,3540
Unnamed: 13,3C,12014,3102.466657,3153,3348,3082.943736,8666,44,43,0,8364,3650
Unnamed: 14,3D,21625,3249.603911,3301.350191,10173,3203.636838,11452,48,45.666667,6529,7110,7986
Unnamed: 15,4A,21474,3146.039676,3079.361798,12261,3234.777054,9213,89,61.5,2453,12620,6401
Unnamed: 16,4B,17640,3439.341474,3544.972207,9297,3321.632147,8343,88,78.6,5817,11823,0
Unnamed: 17,4C,20399,3507.679689,3337.572088,5202,3565.908269,15197,78,75.571429,9087,11312,0
Unnamed: 18,4D,19238,3356.8523,3248,2237,3371.17514,17001,75,70.6,7534,7304,4400
Unnamed: 19,WT,8000,3200,3200,4000,3200,4000,0,0,8000,21600,0

In [173]:
df_pile_summary_T.index

Index(['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19'],
      dtype='object')

In [176]:
#df_pile_summary_T.drop([ 'Unnamed: 1','Unnamed: 2'],axis=0)

,PILE_ID,AVILABLE QUANTITY,PILE WTD GCV,TOP GCV,TOP QNTY,BOTTOM GCV,BOTTOM QNTY,MAX AGING,AVERAGE AGING,>3500,3100-3500,<3100
Unnamed: 3,1A,21285,3272.715011,3409.923373,10140,3147.879408,11145,84,73.166667,6801,6477,8007
Unnamed: 4,1B,29383,2972.211079,3042.586574,21723,2772.633159,7660,116,74.1,0,8163,21220
Unnamed: 5,1C,17196,3520.835996,3501.759067,10680,3552.103891,6516,80,73.333333,13524,3672,0
Unnamed: 6,1D,25426,3465.27191,3528.669559,14369,3382.884209,11057,77,69,13719,10350,1357
Unnamed: 7,2A,7950,2654.566541,0,0,2654.566541,7950,42,40.5,0,0,7950
Unnamed: 8,2B,8405,3317.689352,0,0,3317.689352,8405,40,39.5,0,8405,0
Unnamed: 9,2C,25269,3196.734639,3323.823864,8800,3128.826133,16469,89,70.75,8469,3200,13600
Unnamed: 10,2D,7506,3637,0,0,3637,7506,39,38.5,7506,0,0
Unnamed: 11,3A,10277,3090.870293,0,0,3090.870293,10277,108,90.333333,0,7144,3133
Unnamed: 12,3B,10408,3066.338143,3173,3032,3022.493409,7376,111,109.8,0,6868,3540
Unnamed: 13,3C,12014,3102.466657,3153,3348,3082.943736,8666,44,43,0,8364,3650
Unnamed: 14,3D,21625,3249.603911,3301.350191,10173,3203.636838,11452,48,45.666667,6529,7110,7986
Unnamed: 15,4A,21474,3146.039676,3079.361798,12261,3234.777054,9213,89,61.5,2453,12620,6401
Unnamed: 16,4B,17640,3439.341474,3544.972207,9297,3321.632147,8343,88,78.6,5817,11823,0
Unnamed: 17,4C,20399,3507.679689,3337.572088,5202,3565.908269,15197,78,75.571429,9087,11312,0
Unnamed: 18,4D,19238,3356.8523,3248,2237,3371.17514,17001,75,70.6,7534,7304,4400
Unnamed: 19,WT,8000,3200,3200,4000,3200,4000,0,0,8000,21600,0

In [158]:
# Dropping the first row (index 0)
#df_pile_summary_Tnew=df_pile_summary_T.drop(index=0).reset_index(drop=True)
#df_pile_summary_Tnew
# Dropping the first row dynamically



# Select everything except the first row
df_pile_summary_Tnew = df_pile_summary_T.iloc[2:]
df_pile_summary_Tnew

,PILE_ID,AVILABLE QUANTITY,PILE WTD GCV,TOP GCV,TOP QNTY,BOTTOM GCV,BOTTOM QNTY,MAX AGING,AVERAGE AGING,>3500,3100-3500,<3100
Unnamed: 3,1A,21285,3272.715011,3409.923373,10140,3147.879408,11145,84,73.166667,6801,6477,8007
Unnamed: 4,1B,29383,2972.211079,3042.586574,21723,2772.633159,7660,116,74.1,0,8163,21220
Unnamed: 5,1C,17196,3520.835996,3501.759067,10680,3552.103891,6516,80,73.333333,13524,3672,0
Unnamed: 6,1D,25426,3465.27191,3528.669559,14369,3382.884209,11057,77,69,13719,10350,1357
Unnamed: 7,2A,7950,2654.566541,0,0,2654.566541,7950,42,40.5,0,0,7950
Unnamed: 8,2B,8405,3317.689352,0,0,3317.689352,8405,40,39.5,0,8405,0
Unnamed: 9,2C,25269,3196.734639,3323.823864,8800,3128.826133,16469,89,70.75,8469,3200,13600
Unnamed: 10,2D,7506,3637,0,0,3637,7506,39,38.5,7506,0,0
Unnamed: 11,3A,10277,3090.870293,0,0,3090.870293,10277,108,90.333333,0,7144,3133
Unnamed: 12,3B,10408,3066.338143,3173,3032,3022.493409,7376,111,109.8,0,6868,3540
Unnamed: 13,3C,12014,3102.466657,3153,3348,3082.943736,8666,44,43,0,8364,3650
Unnamed: 14,3D,21625,3249.603911,3301.350191,10173,3203.636838,11452,48,45.666667,6529,7110,7986
Unnamed: 15,4A,21474,3146.039676,3079.361798,12261,3234.777054,9213,89,61.5,2453,12620,6401
Unnamed: 16,4B,17640,3439.341474,3544.972207,9297,3321.632147,8343,88,78.6,5817,11823,0
Unnamed: 17,4C,20399,3507.679689,3337.572088,5202,3565.908269,15197,78,75.571429,9087,11312,0
Unnamed: 18,4D,19238,3356.8523,3248,2237,3371.17514,17001,75,70.6,7534,7304,4400
Unnamed: 19,WT,8000,3200,3200,4000,3200,4000,0,0,8000,21600,0

In [160]:
df_pile_summary_Tnew.columns

Index(['PILE_ID', 'AVILABLE QUANTITY', 'PILE WTD GCV', 'TOP GCV', 'TOP QNTY',
       'BOTTOM GCV', 'BOTTOM QNTY', 'MAX AGING', 'AVERAGE AGING', '>3500',
       '3100-3500', '<3100'],
      dtype='object')

In [162]:
#changing the columns data type in the dataframe
df_pile_summary_Tnew["PILE_ID"] = df_pile_summary_Tnew["PILE_ID"].astype(str)
df_pile_summary_Tnew["AVILABLE QUANTITY"] = df_pile_summary_Tnew["AVILABLE QUANTITY"].astype('float')
df_pile_summary_Tnew["PILE WTD GCV"] = df_pile_summary_Tnew["PILE WTD GCV"].astype('float')
df_pile_summary_Tnew["TOP GCV"] = df_pile_summary_Tnew["TOP GCV"].astype('float')
df_pile_summary_Tnew["TOP QNTY"] = df_pile_summary_Tnew["TOP QNTY"].astype('Int64')
df_pile_summary_Tnew["BOTTOM GCV"] = df_pile_summary_Tnew["BOTTOM GCV"].astype('float')
df_pile_summary_Tnew["BOTTOM QNTY"] = df_pile_summary_Tnew["BOTTOM QNTY"].astype('Int64')
df_pile_summary_Tnew["MAX AGING"] = df_pile_summary_Tnew["MAX AGING"].astype('Int64')
df_pile_summary_Tnew["AVERAGE AGING"] = df_pile_summary_Tnew["AVERAGE AGING"].astype('float')
df_pile_summary_Tnew[">3500"] = df_pile_summary_Tnew[">3500"].astype('Int64')
df_pile_summary_Tnew["3100-3500"] = df_pile_summary_Tnew["3100-3500"].astype('Int64')
df_pile_summary_Tnew["<3100"] = df_pile_summary_Tnew["<3100"].astype('Int64')






#df_pile_summary_Tnew["Sample Collection Date"] = pd.to_datetime(df_pile_summary_Tnew["Sample Collection Date"], errors='coerce')
#df_pile_summary_Tnew["Rake_No"] = df_pile_summary_Tnew["Rake_No"].astype(str)
#df_pile_summary_Tnew["SIDING NO"] = df_pile_summary_Tnew["SIDING NO"].astype(str)
#df_pile_summary_Tnew["ARBG.C.V-k.cal/kg"] = df_pile_summary_Tnew["ARBG.C.V-k.cal/kg"].astype('float')

<ipython-input-162-80706044330b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pile_summary_Tnew["PILE_ID"] = df_pile_summary_Tnew["PILE_ID"].astype(str)
<ipython-input-162-80706044330b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pile_summary_Tnew["AVILABLE QUANTITY"] = df_pile_summary_Tnew["AVILABLE QUANTITY"].astype('float')
<ipython-input-162-80706044330b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pile_summary_Tnew["PILE WTD GCV"] = df_pile_summary_Tnew["PILE WTD GCV"].astype('float')
<ipython-input-162-80706044330b>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pile_summary_Tnew["TOP GCV"] = df_pile_summary_Tnew["TOP GCV"].astype('float')
<ipython-input-162-80706044330b>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pile_summary_Tnew["TOP QNTY"] = df_pile_summary_Tnew["TOP QNTY"].astype('Int64')
<ipython-input-162-80706044330b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pile_summary_Tnew["BOTTOM GCV"] = df_pile_summary_Tnew["BOTTOM GCV"].astype('float')
<ipython-input-162-80706044330b>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pile_summary_Tnew["BOTTOM QNTY"] = df_pile_summary_Tnew["BOTTOM QNTY"].astype('Int64')
<ipython-input-162-80706044330b>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pile_summary_Tnew["MAX AGING"] = df_pile_summary_Tnew["MAX AGING"].astype('Int64')
<ipython-input-162-80706044330b>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pile_summary_Tnew["AVERAGE AGING"] = df_pile_summary_Tnew["AVERAGE AGING"].astype('float')
<ipython-input-162-80706044330b>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pile_summary_Tnew[">3500"] = df_pile_summary_Tnew[">3500"].astype('Int64')
<ipython-input-162-80706044330b>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pile_summary_Tnew["3100-3500"] = df_pile_summary_Tnew["3100-3500"].astype('Int64')
<ipython-input-162-80706044330b>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pile_summary_Tnew["<3100"] = df_pile_summary_Tnew["<3100"].astype('Int64')

In [163]:
df_pile_summary_Tnew.columns

Index(['PILE_ID', 'AVILABLE QUANTITY', 'PILE WTD GCV', 'TOP GCV', 'TOP QNTY',
       'BOTTOM GCV', 'BOTTOM QNTY', 'MAX AGING', 'AVERAGE AGING', '>3500',
       '3100-3500', '<3100'],
      dtype='object')

In [164]:
df_pile_summary_Tnew.dtypes

PILE_ID               object
AVILABLE QUANTITY    float64
PILE WTD GCV         float64
TOP GCV              float64
TOP QNTY               Int64
BOTTOM GCV           float64
BOTTOM QNTY            Int64
MAX AGING              Int64
AVERAGE AGING        float64
>3500                  Int64
3100-3500              Int64
<3100                  Int64
dtype: object

In [166]:
!pip install sqlalchemy psycopg2 pandas

import pandas as pd
from sqlalchemy import create_engine

# Example DataFrame
# Database connection URL
db_url = "postgresql+psycopg2://brioadmin:Gbsm%401234@briopgdb.postgres.database.azure.com:5432/gmr"
# Create SQLAlchemy engine
engine = create_engine(db_url)

# Push DataFrame to PostgreSQL table(Shuvadeep_line)
#new_df.to_sql('pile Details', engine,schema='cyms', if_exists='append', index=False)
#Push DataFrame to PostgreSQL table(Satya_line)
df_pile_summary_Tnew.to_sql('pile_summary', engine, schema='cyms', if_exists='append', index=False)


print("Data inserted successfully!")

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.11/dist-packages (2.0.37)
Requirement already satisfied: psycopg2 in /usr/local/lib/python3.11/dist-packages (2.9.10)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Data inserted successfully!

## 5.spur

In [ ]:
import pandas as pd

# Define data
data_spur = {
    "serial_no": list(range(1, 13)),
    "spur_id": ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "SILO", "DB"],
    "spur_name": ["spur1", "spur2", "spur3", "spur4", "spur5", "spur6", "spur7", "spur8", "spur9", "spur10", "spur SILO", "spur DB"]
}

# Create DataFrame
df_spur= pd.DataFrame(data_spur)

# Display DataFrame
df_spur

    serial_no spur_id  spur_name
0           1       1      spur1
1           2       2      spur2
2           3       3      spur3
3           4       4      spur4
4           5       5      spur5
5           6       6      spur6
6           7       7      spur7
7           8       8      spur8
8           9       9      spur9
9          10      10     spur10
10         11    SILO  spur SILO
11         12      DB    spur DB

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Example DataFrame
# Database connection URL
db_url = "postgresql+psycopg2://brioadmin:Gbsm%401234@briopgdb.postgres.database.azure.com:5432/gmr"
# Create SQLAlchemy engine
engine = create_engine(db_url)

# Push DataFrame to PostgreSQL table(Shuvadeep_line)
#new_df.to_sql('pile ', engine,schema='cyms', if_exists='append', index=False)
#Push DataFrame to PostgreSQL table(Satya_line)
df_spur.to_sql('spur', engine, schema='cyms', if_exists='append', index=False)


print("Data inserted successfully!")

Data inserted successfully!

## 4.RAKE GCV

In [ ]:
# installs the openpyxl library, which is used to work with Excel files (.xlsx format) in Python.

!pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.11/dist-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.11/dist-packages (from openpyxl) (2.0.0)

In [ ]:

import pandas as pd
from google.colab import drive
# Mount Google Drive (Uncomment if running in Google Colab)
drive.mount('/content/drive')
# Define the file path (modify according to your directory structure)
file_path = '/content/drive/MyDrive/GMR/GKEL_Coal_yard_MIS.XLSX'  # Change to actual file path

# Load a specific sheet
# Change to your desired sheet name
df_rake_gcv = pd.read_excel(file_path, sheet_name='RAKE GCV ')
df_rake_gcv

Mounted at /content/drive

,Sl. No.,Sample Collection Date,Rake_No,SIDING NO,ARBG.C.V-k.cal/kg,1,2,3,4,5,...,3304.328832,3188.874318,3227.062535,3199.217561,2937.72323,3119.330587,3119.2485,Unnamed: 43,Unnamed: 44,5.1
0,1.0,01.03.2024,MGBK-01,SPUR-06,3207.252205,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
1,2.0,02.03.2024,MGBK-02,SPUR-08,3403.105029,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
2,3.0,02.03.2024,MGBK-03,SPUR-DB,2979.696391,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
3,4.0,02.03.2024,MGBK-04,SPUR-05,3309.000000,0.0,0.0,0.0,0.0,3309.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
4,5.0,02.03.2024,MGBK-05,SPUR-06,3362.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1257,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
1258,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
1259,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
1260,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
1261,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN

In [ ]:
df_rake_gcv.columns

Index([               'Sl. No.', 'Sample Collection Date',
                      'Rake_No',              'SIDING NO',
            'ARBG.C.V-k.cal/kg',                        1,
                              2,                        3,
                              4,                        5,
                              6,                        7,
                              8,                        9,
                             10,                   'SILO',
                           'DB',            'Unnamed: 17',
                  'Unnamed: 18',            'Unnamed: 19',
                  'Unnamed: 20',            'Unnamed: 21',
                  'Unnamed: 22',            'Unnamed: 23',
                  'Unnamed: 24',            'Unnamed: 25',
                  'Unnamed: 26',            'Unnamed: 27',
                  'Unnamed: 28',            'Unnamed: 29',
                  'Unnamed: 30',        2853.648015471744,
             2945.2884139842186,       2898.5181420345475,
              2864.765736263357,        3636.893425618078,
              3304.328832228906,        3188.874318469922,
             3227.0625346773913,       3199.2175611591147,
             2937.7232304970703,       3119.3305869862606,
                3119.2484996807,            'Unnamed: 43',
                  'Unnamed: 44',                    '5.1'],
      dtype='object')

In [ ]:
df_rake_gcv_cleaned = df_rake_gcv.iloc[0:799, 0:5]
df_rake_gcv_cleaned

     Sl. No. Sample Collection Date   Rake_No  SIDING NO  ARBG.C.V-k.cal/kg
0        1.0             01.03.2024   MGBK-01    SPUR-06        3207.252205
1        2.0             02.03.2024   MGBK-02    SPUR-08        3403.105029
2        3.0             02.03.2024   MGBK-03    SPUR-DB        2979.696391
3        4.0             02.03.2024   MGBK-04    SPUR-05        3309.000000
4        5.0             02.03.2024   MGBK-05    SPUR-06        3362.000000
..       ...                    ...       ...        ...                ...
794     63.0             25.11.2024   MGBK-54    SPUR-04        2765.972568
795     64.0             26.11.2024   MGBK-56    SPUR-02        3232.675359
796     65.0             26.11.2024   MGBK-55    SPUR-06        3331.410338
797     66.0             26.11.2024   MGBK-57  SPUR-SILO        3081.868749
798     67.0             27.11.2024  NMGBK-58    SPUR-06        3487.461902

[799 rows x 5 columns]

In [ ]:
#changing the columns data type in the dataframe
df_rake_gcv_cleaned["Sl. No."] = df_rake_gcv_cleaned["Sl. No."].astype('Int64')
df_rake_gcv_cleaned["Sample Collection Date"] = pd.to_datetime(df_rake_gcv_cleaned["Sample Collection Date"], errors='coerce')
df_rake_gcv_cleaned["Rake_No"] = df_rake_gcv_cleaned["Rake_No"].astype(str)
df_rake_gcv_cleaned["SIDING NO"] = df_rake_gcv_cleaned["SIDING NO"].astype(str)
df_rake_gcv_cleaned["ARBG.C.V-k.cal/kg"] = df_rake_gcv_cleaned["ARBG.C.V-k.cal/kg"].astype('float')

#df_rake_gcv_cleaned["Spur name"] = df_rake_gcv_cleaned["Spur name"].astype(str)
#df_rake_gcv_cleaned["Spur Qty"] = df_rake_gcv_cleaned["Spur Qty"].astype('Int64')

In [ ]:
df_rake_gcv_cleaned.columns

Index(['Sl. No.', 'Sample Collection Date', 'Rake_No', 'SIDING NO',
       'ARBG.C.V-k.cal/kg'],
      dtype='object')

In [ ]:
df_rake_gcv_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 799 entries, 0 to 798
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Sl. No.                 796 non-null    Int64
 1   Sample Collection Date  345 non-null    datetime64[ns]
 2   Rake_No                 799 non-null    object
 3   SIDING NO               799 non-null    object
 4   ARBG.C.V-k.cal/kg       796 non-null    float64
dtypes: Int64(1), datetime64[ns](1), float64(1), object(2)
memory usage: 32.1+ KB

In [ ]:
!pip install sqlalchemy psycopg2 pandas

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.11/dist-packages (2.0.37)
Requirement already satisfied: psycopg2 in /usr/local/lib/python3.11/dist-packages (2.9.10)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Example DataFrame
# Database connection URL
db_url = "postgresql+psycopg2://brioadmin:Gbsm%401234@briopgdb.postgres.database.azure.com:5432/gmr"
# Create SQLAlchemy engine
engine = create_engine(db_url)

# Push DataFrame to PostgreSQL table(Shuvadeep_line)
#new_df.to_sql('pile Details', engine,schema='cyms', if_exists='append', index=False)
#Push DataFrame to PostgreSQL table(Satya_line)
df_rake_gcv_cleaned.to_sql('RAKE_GCV', engine, schema='cyms', if_exists='append', index=False)


print("Data inserted successfully!")

Data inserted successfully!

## 3.WT (table)

In [ ]:

import pandas as pd
from google.colab import drive
# Mount Google Drive (Uncomment if running in Google Colab)
drive.mount('/content/drive')
# Define the file path (modify according to your directory structure)
file_path = '/content/drive/MyDrive/GMR/GKEL_Coal_yard_MIS.XLSX'  # Change to actual file path

# Load a specific sheet
# Change to your desired sheet name
df_wt = pd.read_excel(file_path, sheet_name='WT')
df_wt

Mounted at /content/drive

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,summery,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,STACKING DATE,RAKE NO,SPUR,SUB PILE,TOP/BOTTOM,ST QNTY,GCV,NaN,RECLIAM DATE,RC-QNTY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-05-01 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,2024-05-02 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,2024-05-03 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,2024-05-04 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,2024-04-12 00:00:00,1500,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,2024-05-05 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,2024-04-13 00:00:00,1500,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,2024-05-06 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,2024-04-14 00:00:00,1500,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,2024-05-07 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,2024-04-15 00:00:00,1500,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,2024-05-08 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,2024-04-16 00:00:00,1500,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,2024-05-09 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,2024-04-17 00:00:00,1500,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,2024-05-10 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,2024-05-11 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,2024-05-12 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,2024-05-13 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,2024-05-14 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,2024-05-15 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,2024-05-16 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,2024-05-17 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,2024-05-18 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,2024-05-19 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,2024-05-20 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,2024-05-21 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,2024-05-22 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,2024-05-23 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,2024-05-24 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,2024-05-25 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,2024-05-26 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30,2024-05-27 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31,2024-05-28 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32,2024-05-29 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33,2024-05-30 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34,2024-05-31 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35,NaN,NaN,NaN,NaN,NaN,30600,NaN,NaN,NaN,AVILABLE QUANITY,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PILE WTD GCV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TOP GCV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TOP QNTY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BOTTOM GCV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BOTTOM QNTY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MAX AGING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AVERAGE AGING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,>3500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3100-3500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<3100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_wt.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29',
       'Unnamed: 30', 'Unnamed: 31'],
      dtype='object')

In [ ]:
#Renaming the columns
df_wt.rename(columns={'Unnamed: 0': 'STACKING DATE','Unnamed: 1':'RAKE NO','Unnamed: 2': 'SPUR','Unnamed: 3':'SUB PILE','Unnamed: 4':'TOP/BOTTOM','Unnamed: 5':'ST QNTY','Unnamed: 6':'GCV','Unnamed: 7':'NaN','Unnamed: 8':'RECLAIM DATE','Unnamed: 9':'RC-QNTY','Unnamed: 10':'AVAILABLE QUANTITY','Unnamed: 11':'AGING','Unnamed: 12':'TOP GCV','Unnamed: 13':'TOP QNTY','Unnamed: 14':'BTM GCV','Unnamed: 15':'BTM QNTY','Unnamed: 16':'coal above 3200','Unnamed: 17':'2900-3200', 'Unnamed: 18':'<2900'}, inplace=True)

In [ ]:
df_wt.columns

Index(['STACKING DATE', 'RAKE NO', 'SPUR', 'SUB PILE', 'TOP/BOTTOM', 'ST QNTY',
       'GCV', 'NaN', 'RECLAIM DATE', 'RC-QNTY', 'AVAILABLE QUANTITY', 'AGING',
       'TOP GCV', 'TOP QNTY', 'BTM GCV', 'BTM QNTY', 'coal above 3200',
       '2900-3200', '<2900', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29',
       'Unnamed: 30', 'Unnamed: 31'],
      dtype='object')

In [ ]:
df_wt

,STACKING DATE,RAKE NO,SPUR,SUB PILE,TOP/BOTTOM,ST QNTY,GCV,NaN,RECLAIM DATE,RC-QNTY,...,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,summery,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,STACKING DATE,RAKE NO,SPUR,SUB PILE,TOP/BOTTOM,ST QNTY,GCV,NaN,RECLIAM DATE,RC-QNTY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-05-01 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,2024-05-02 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,2024-05-03 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,2024-05-04 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,2024-04-12 00:00:00,1500,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,2024-05-05 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,2024-04-13 00:00:00,1500,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,2024-05-06 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,2024-04-14 00:00:00,1500,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,2024-05-07 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,2024-04-15 00:00:00,1500,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,2024-05-08 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,2024-04-16 00:00:00,1500,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,2024-05-09 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,2024-04-17 00:00:00,1500,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,2024-05-10 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,2024-05-11 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,2024-05-12 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,2024-05-13 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,2024-05-14 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,2024-05-15 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,2024-05-16 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,2024-05-17 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,2024-05-18 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,2024-05-19 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,2024-05-20 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,2024-05-21 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,2024-05-22 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,2024-05-23 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,2024-05-24 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,2024-05-25 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,2024-05-26 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30,2024-05-27 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31,2024-05-28 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32,2024-05-29 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33,2024-05-30 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34,2024-05-31 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35,NaN,NaN,NaN,NaN,NaN,30600,NaN,NaN,NaN,AVILABLE QUANITY,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PILE WTD GCV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TOP GCV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TOP QNTY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BOTTOM GCV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BOTTOM QNTY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MAX AGING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AVERAGE AGING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,>3500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3100-3500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<3100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# This keeps rows from index 4 to 34 and columns from index 0 to 19, deleting all others.

df_wt_cleaned = df_wt.iloc[4:35, 0:19]
df_wt_cleaned

,STACKING DATE,RAKE NO,SPUR,SUB PILE,TOP/BOTTOM,ST QNTY,GCV,NaN,RECLAIM DATE,RC-QNTY,AVAILABLE QUANTITY,AGING,TOP GCV,TOP QNTY,BTM GCV,BTM QNTY,coal above 3200,2900-3200,<2900
4,2024-05-01 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,NaN,NaN,1800,250,3250,1800,0,0,0,1800,0
5,2024-05-02 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,NaN,NaN,1800,249,3250,1800,0,0,0,1800,0
6,2024-05-03 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,NaN,NaN,1800,248,3250,1800,0,0,0,1800,0
7,2024-05-04 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,2024-04-12 00:00:00,1500,300,247,3250,300,0,0,0,300,0
8,2024-05-05 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,2024-04-13 00:00:00,1500,300,246,3250,300,0,0,0,300,0
9,2024-05-06 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,2024-04-14 00:00:00,1500,300,245,3250,300,0,0,0,300,0
10,2024-05-07 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,2024-04-15 00:00:00,1500,300,244,3250,300,0,0,0,300,0
11,2024-05-08 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,2024-04-16 00:00:00,1500,300,243,3250,300,0,0,0,300,0
12,2024-05-09 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,2024-04-17 00:00:00,1500,300,242,3250,300,0,0,0,300,0
13,2024-05-10 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,NaN,NaN,1800,241,3250,1800,0,0,0,1800,0
14,2024-05-11 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,NaN,NaN,1800,240,3250,1800,0,0,0,1800,0
15,2024-05-12 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,NaN,NaN,1800,239,3250,1800,0,0,0,1800,0
16,2024-05-13 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,NaN,NaN,1800,238,3250,1800,0,0,0,1800,0
17,2024-05-14 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,NaN,NaN,1800,237,3250,1800,0,0,0,1800,0
18,2024-05-15 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,NaN,NaN,1800,236,3250,1800,0,0,0,1800,0
19,2024-05-16 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,NaN,NaN,1800,235,3250,1800,0,0,0,1800,0
20,2024-05-17 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,NaN,NaN,1800,234,3250,1800,0,0,0,1800,0
21,2024-05-18 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0
22,2024-05-19 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0
23,2024-05-20 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0
24,2024-05-21 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0
25,2024-05-22 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0
26,2024-05-23 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0
27,2024-05-24 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0
28,2024-05-25 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0
29,2024-05-26 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0
30,2024-05-27 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0
31,2024-05-28 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0
32,2024-05-29 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0
33,2024-05-30 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0
34,2024-05-31 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0

In [ ]:
df_wt_cleaned.insert(0, 'WT ID', range(1, len(df_wt_cleaned) + 1))
df_wt_cleaned

,WT ID,STACKING DATE,RAKE NO,SPUR,SUB PILE,TOP/BOTTOM,ST QNTY,GCV,NaN,RECLAIM DATE,RC-QNTY,AVAILABLE QUANTITY,AGING,TOP GCV,TOP QNTY,BTM GCV,BTM QNTY,coal above 3200,2900-3200,<2900
4,1,2024-05-01 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,NaN,NaN,1800,250,3250,1800,0,0,0,1800,0
5,2,2024-05-02 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,NaN,NaN,1800,249,3250,1800,0,0,0,1800,0
6,3,2024-05-03 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,NaN,NaN,1800,248,3250,1800,0,0,0,1800,0
7,4,2024-05-04 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,2024-04-12 00:00:00,1500,300,247,3250,300,0,0,0,300,0
8,5,2024-05-05 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,2024-04-13 00:00:00,1500,300,246,3250,300,0,0,0,300,0
9,6,2024-05-06 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,2024-04-14 00:00:00,1500,300,245,3250,300,0,0,0,300,0
10,7,2024-05-07 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,2024-04-15 00:00:00,1500,300,244,3250,300,0,0,0,300,0
11,8,2024-05-08 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,2024-04-16 00:00:00,1500,300,243,3250,300,0,0,0,300,0
12,9,2024-05-09 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,2024-04-17 00:00:00,1500,300,242,3250,300,0,0,0,300,0
13,10,2024-05-10 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,NaN,NaN,1800,241,3250,1800,0,0,0,1800,0
14,11,2024-05-11 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,NaN,NaN,1800,240,3250,1800,0,0,0,1800,0
15,12,2024-05-12 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,NaN,NaN,1800,239,3250,1800,0,0,0,1800,0
16,13,2024-05-13 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,NaN,NaN,1800,238,3250,1800,0,0,0,1800,0
17,14,2024-05-14 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,NaN,NaN,1800,237,3250,1800,0,0,0,1800,0
18,15,2024-05-15 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,NaN,NaN,1800,236,3250,1800,0,0,0,1800,0
19,16,2024-05-16 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,NaN,NaN,1800,235,3250,1800,0,0,0,1800,0
20,17,2024-05-17 00:00:00,TRUCK,TRUCK,1,T,1800,3250,As per result,NaN,NaN,1800,234,3250,1800,0,0,0,1800,0
21,18,2024-05-18 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0
22,19,2024-05-19 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0
23,20,2024-05-20 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0
24,21,2024-05-21 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0
25,22,2024-05-22 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0
26,23,2024-05-23 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0
27,24,2024-05-24 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0
28,25,2024-05-25 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0
29,26,2024-05-26 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0
30,27,2024-05-27 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0
31,28,2024-05-28 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0
32,29,2024-05-29 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0
33,30,2024-05-30 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0
34,31,2024-05-31 00:00:00,TRUCK,TRUCK,1,T,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0

In [ ]:
#changing the columns data type in the dataframe
df_wt_cleaned["WT ID"] = df_wt_cleaned["WT ID"].astype('Int64')
df_wt_cleaned["STACKING DATE"] = pd.to_datetime(df_wt_cleaned["STACKING DATE"], errors='coerce')
df_wt_cleaned["RAKE NO"] = df_wt_cleaned["RAKE NO"].astype(str)
df_wt_cleaned["SPUR"] = df_wt_cleaned["SPUR"].astype(str)
df_wt_cleaned["SUB PILE"] = df_wt_cleaned["SUB PILE"].astype('Int64')
df_wt_cleaned["TOP/BOTTOM"] = df_wt_cleaned["TOP/BOTTOM"].astype(str)
df_wt_cleaned["ST QNTY"] = df_wt_cleaned["ST QNTY"].astype('Int64')
df_wt_cleaned["GCV"] = df_wt_cleaned["GCV"].astype('float')
df_wt_cleaned["RECLAIM DATE"] = pd.to_datetime(df_wt_cleaned["RECLAIM DATE"], errors='coerce')
df_wt_cleaned["RC-QNTY"] = df_wt_cleaned["RC-QNTY"].astype('Int64')
df_wt_cleaned["AVAILABLE QUANTITY"] = df_wt_cleaned["AVAILABLE QUANTITY"].astype('Int64')
df_wt_cleaned["AGING"] = df_wt_cleaned["AGING"].astype('Int64')
df_wt_cleaned["TOP GCV"] = df_wt_cleaned["TOP GCV"].astype('float')
df_wt_cleaned["TOP QNTY"] = df_wt_cleaned["TOP QNTY"].astype('Int64')
df_wt_cleaned["BTM GCV"] = df_wt_cleaned["BTM GCV"].astype('float')
df_wt_cleaned["BTM QNTY"] = df_wt_cleaned["BTM QNTY"].astype('Int64')
df_wt_cleaned["coal above 3200"] = df_wt_cleaned["coal above 3200"].astype('Int64')
df_wt_cleaned["2900-3200"] = df_wt_cleaned["2900-3200"].astype('Int64')
df_wt_cleaned["<2900"] = df_wt_cleaned["<2900"].astype('Int64')


###df_wt_cleaned["Pile_id"] = df_wt_cleaned["Pile_id"].astype(str)

In [ ]:
df_wt_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 4 to 34
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   WT ID               31 non-null     Int64
 1   STACKING DATE       31 non-null     datetime64[ns]
 2   RAKE NO             31 non-null     object
 3   SPUR                31 non-null     object
 4   SUB PILE            31 non-null     Int64
 5   TOP/BOTTOM          31 non-null     object
 6   ST QNTY             17 non-null     Int64
 7   GCV                 17 non-null     float64
 8   NaN                 17 non-null     object
 9   RECLAIM DATE        6 non-null      datetime64[ns]
 10  RC-QNTY             6 non-null      Int64
 11  AVAILABLE QUANTITY  31 non-null     Int64
 12  AGING               31 non-null     Int64
 13  TOP GCV             31 non-null     float64
 14  TOP QNTY            31 non-null     Int64
 15  BTM GCV             31 non-null     float64
 16  BTM QNTY            31 non-null     Int64
 17  coal above 3200     31 non-null     Int64
 18  2900-3200           31 non-null     Int64
 19  <2900               31 non-null     Int64
dtypes: Int64(11), datetime64[ns](2), float64(3), object(4)
memory usage: 5.3+ KB

In [ ]:
!pip install sqlalchemy psycopg2 pandas

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.11/dist-packages (2.0.37)
Requirement already satisfied: psycopg2 in /usr/local/lib/python3.11/dist-packages (2.9.10)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Example DataFrame
# Database connection URL
db_url = "postgresql+psycopg2://brioadmin:Gbsm%401234@briopgdb.postgres.database.azure.com:5432/gmr"
# Create SQLAlchemy engine
engine = create_engine(db_url)

# Push DataFrame to PostgreSQL table(Shuvadeep_line)
#new_df.to_sql('pile Details', engine,schema='cyms', if_exists='append', index=False)
#Push DataFrame to PostgreSQL table(Satya_line)
df_wt_cleaned.to_sql('WT', engine, schema='cyms', if_exists='append', index=False)


print("Data inserted successfully!")

Data inserted successfully!

## 2. pile(table)

In [ ]:
import pandas as pd

# Generate serial_no from 1 to 16
serial_no = list(range(1, 17))

# Generate pile_id and pile_name
pile_ids = [f"{i}{c}" for i in range(1, 5) for c in "ABCD"]
pile_names = [f"PILE-{pid}" for pid in pile_ids]

# Create DataFrame
df_pile = pd.DataFrame({
    #"serial_no": serial_no,
    "pile_id": pile_ids,
    "pile_name": pile_names
})

# Display DataFrame
df_pile

   pile_id pile_name
0       1A   PILE-1A
1       1B   PILE-1B
2       1C   PILE-1C
3       1D   PILE-1D
4       2A   PILE-2A
5       2B   PILE-2B
6       2C   PILE-2C
7       2D   PILE-2D
8       3A   PILE-3A
9       3B   PILE-3B
10      3C   PILE-3C
11      3D   PILE-3D
12      4A   PILE-4A
13      4B   PILE-4B
14      4C   PILE-4C
15      4D   PILE-4D

In [ ]:
!pip install sqlalchemy psycopg2 pandas

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.11/dist-packages (2.0.37)
Requirement already satisfied: psycopg2 in /usr/local/lib/python3.11/dist-packages (2.9.10)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Example DataFrame
# Database connection URL
db_url = "postgresql+psycopg2://brioadmin:Gbsm%401234@briopgdb.postgres.database.azure.com:5432/gmr"
# Create SQLAlchemy engine
engine = create_engine(db_url)

# Push DataFrame to PostgreSQL table(Shuvadeep_line)
#new_df.to_sql('pile ', engine,schema='cyms', if_exists='append', index=False)
#Push DataFrame to PostgreSQL table(Satya_line)
df_pile.to_sql('pile', engine, schema='cyms', if_exists='append', index=False)


print("Data inserted successfully!")

Data inserted successfully!

## 1.Pile(table)

In [ ]:
# installs the openpyxl library, which is used to work with Excel files (.xlsx format) in Python.
#pip install openpyxl
!pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.11/dist-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.11/dist-packages (from openpyxl) (2.0.0)

In [ ]:
from google.colab import drive
# Pandas is used for data manipulation and analysis.
import pandas as pd


# Mount Google Drive
drive.mount('/content/drive')

# Specify the path to your Excel file in Google Drive
file_path = '/content/drive/MyDrive/GMR/GKEL_Coal_yard_MIS.XLSX'  # Correct file path here

# Load the data from the specific sheet into a pandas DataFrame
df1 = pd.read_excel(file_path, sheet_name="PILE-1A")  # Use sheet_name as a parameter

# Display the first few rows of the DataFrame
df1
df1_cleaned = df1.iloc[3:10,:19]
#df1_cleaned
# Reset the index of the sliced DataFrame
# df1_reset = df1_cleaned.reset_index(drop=True)

# Display the reset DataFrame
# df1_reset

# df1_reset.to_excel('/content/drive/MyDrive/GMR/ump.xlsx')
#df1 = pd.read_excel("/content/drive/MyDrive/GMR/GKEL_Coal_yard_MIS.XLSX", header=0)  # Use the first row as column names
#df1

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df1_cleaned.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18'],
      dtype='object')

In [ ]:
df1_cleaned.rename(columns={'Unnamed: 0': 'STACKING DATE','Unnamed: 1':'RAKE NO','Unnamed: 2': 'SPUR','Unnamed: 3':'SUB PILE','Unnamed: 4':'TOP/BOTTOM','Unnamed: 5':'ST QNTY','Unnamed: 6':'GCV','Unnamed: 7':'NaN','Unnamed: 8':'RECLIAM DATE','Unnamed: 9':'RC-QNTY','Unnamed: 10':'AVAILABLE QUANTITY','Unnamed: 11':'AGING','Unnamed: 12':'TOP GCV','Unnamed: 13':'TOP QNTY','Unnamed: 14':'BTM GCV','Unnamed: 15':'BTM QNTY','Unnamed: 16':'coal above 3500','Unnamed: 17':'3100-3500', 'Unnamed: 18':'<3100'}, inplace=True)

In [ ]:
df1_cleaned.columns

Index(['STACKING DATE', 'RAKE NO', 'SPUR', 'SUB PILE', 'TOP/BOTTOM', 'ST QNTY',
       'GCV', 'NaN', 'RECLIAM DATE', 'RC-QNTY', 'AVAILABLE QUANTITY', 'AGING',
       'TOP GCV', 'TOP QNTY', 'BTM GCV', 'BTM QNTY', 'coal above 3500',
       '3100-3500', '<3100'],
      dtype='object')

In [ ]:
df1_cleaned
df1_cleaned = df1_cleaned.drop(3, axis=0)

## Display the DataFrame after dropping the row
##print("\nDataFrame after dropping the row with index 1:")df_cleaned)
df1_cleaned["Pile_id"]="1A"
df1_cleaned

,STACKING DATE,RAKE NO,SPUR,SUB PILE,TOP/BOTTOM,ST QNTY,GCV,NaN,RECLIAM DATE,RC-QNTY,AVAILABLE QUANTITY,AGING,TOP GCV,TOP QNTY,BTM GCV,BTM QNTY,coal above 3500,3100-3500,<3100,Pile_id
4,2024-10-14 00:00:00,27,2,1,B,3385,3304,As per result,NaN,NaN,3385,84,0,0,3304,3385,0,3385,0,1A
5,2024-10-15 00:00:00,29,2,1,B,3092,3244,As per result,NaN,NaN,3092,83,0,0,3244,3092,0,3092,0,1A
6,2024-10-25 00:00:00,58,SILO,2,B,4668,2971,As per result,NaN,NaN,4668,73,0,0,2971,4668,0,0,4668,1A
7,2024-10-26 00:00:00,65,SILO,2,T,3555,3585,As per result,NaN,NaN,3555,72,3585,3555,0,0,3555,0,0,1A
8,2024-10-26 00:00:00,68,SILO,2,T,3246,3753,As per result,NaN,NaN,3246,72,3753,3246,0,0,3246,0,0,1A
9,2024-11-12 00:00:00,19,2,1,T,3339,2890,As per result,NaN,NaN,3339,55,2890,3339,0,0,0,0,3339,1A

In [ ]:
df1_cleaned.dtypes

STACKING DATE         object
RAKE NO               object
SPUR                  object
SUB PILE              object
TOP/BOTTOM            object
ST QNTY               object
GCV                   object
NaN                   object
RECLIAM DATE          object
RC-QNTY               object
AVAILABLE QUANTITY    object
AGING                 object
TOP GCV               object
TOP QNTY              object
BTM GCV               object
BTM QNTY              object
coal above 3500       object
3100-3500             object
<3100                 object
Pile_id               object
dtype: object

In [ ]:
df1_cleaned.columns

Index(['STACKING DATE', 'RAKE NO', 'SPUR', 'SUB PILE', 'TOP/BOTTOM', 'ST QNTY',
       'GCV', 'NaN', 'RECLIAM DATE', 'RC-QNTY', 'AVAILABLE QUANTITY', 'AGING',
       'TOP GCV', 'TOP QNTY', 'BTM GCV', 'BTM QNTY', 'coal above 3500',
       '3100-3500', '<3100', 'Pile_id'],
      dtype='object')

In [ ]:
# Convert specific columns to their respective data types
df1_cleaned["STACKING DATE"] = pd.to_datetime(df1_cleaned["STACKING DATE"], errors='coerce')
df1_cleaned["RECLIAM DATE"] = pd.to_datetime(df1_cleaned["RECLIAM DATE"], errors='coerce')
df1_cleaned["Pile_id"] = df1_cleaned["Pile_id"].astype(str)
df1_cleaned["SPUR"] = df1_cleaned["SPUR"].astype(str)
df1_cleaned["TOP/BOTTOM"] = df1_cleaned["TOP/BOTTOM"].astype(str)
df1_cleaned["RAKE NO"] = df1_cleaned["RAKE NO"].astype('Int64')
df1_cleaned["SUB PILE"] = df1_cleaned["SUB PILE"].astype('Int64')
df1_cleaned["ST QNTY"] = df1_cleaned["ST QNTY"].astype('Int64')
df1_cleaned["GCV"] = df1_cleaned["GCV"].astype('float')
df1_cleaned["RC-QNTY"] = df1_cleaned["RC-QNTY"].astype('Int64')
df1_cleaned["AVAILABLE QUANTITY"] = df1_cleaned["AVAILABLE QUANTITY"].astype('Int64')
df1_cleaned["AGING"] = df1_cleaned["AGING"].astype('Int64')
df1_cleaned["TOP GCV"] = df1_cleaned["TOP GCV"].astype('float')
df1_cleaned["TOP QNTY"] = df1_cleaned["TOP QNTY"].astype('Int64')
df1_cleaned["BTM GCV"] = df1_cleaned["BTM GCV"].astype('float')
df1_cleaned["BTM QNTY"] = df1_cleaned["BTM QNTY"].astype('Int64')
df1_cleaned["coal above 3500"] = df1_cleaned["coal above 3500"].astype('Int64')
df1_cleaned["3100-3500"] = df1_cleaned["3100-3500"].astype('Int64')
df1_cleaned["<3100"] = df1_cleaned["<3100"].astype('Int64')






#df1["NaN"]=df1["NaN"].astype(str)
#df1_int_cols = ["RAKE NO", "SUB PILE", "ST QNTY", "GCV", "RC-QNTY",
            #"AVAILABLE QUANTITY", "AGING", "TOP GCV", "TOP QNTY", "BTM GCV", "BTM QNTY",
            #"coal above 3500", "3100-3500", "<3100"]
#df1[df1_int_cols] = df1[df1_int_cols].apply(pd.to_numeric, errors='coerce').astype('Int64')

In [ ]:
df1_cleaned.dtypes

STACKING DATE         datetime64[ns]
RAKE NO                        Int64
SPUR                          object
SUB PILE                       Int64
TOP/BOTTOM                    object
ST QNTY                        Int64
GCV                          float64
NaN                           object
RECLIAM DATE          datetime64[ns]
RC-QNTY                        Int64
AVAILABLE QUANTITY             Int64
AGING                          Int64
TOP GCV                      float64
TOP QNTY                       Int64
BTM GCV                      float64
BTM QNTY                       Int64
coal above 3500                Int64
3100-3500                      Int64
<3100                          Int64
Pile_id                       object
dtype: object

In [ ]:
#df1_cleaned.to_csv("/content/drive/MyDrive/GMR/ds1_cleaned.csv")

In [ ]:
# Load the data from the specific sheet into a pandas DataFrame
df2 = pd.read_excel(file_path, sheet_name="PILE-1B")  # Use sheet_name as a parameter

# Display the first few rows of the DataFrame
#df2
df2_cleaned = df2.iloc[3:10,:19]
#df2_cleaned

In [ ]:
df2_cleaned.rename(columns={'Unnamed: 0': 'STACKING DATE','Unnamed: 1':'RAKE NO','Unnamed: 2': 'SPUR','Unnamed: 3':'SUB PILE','Unnamed: 4':'TOP/BOTTOM','Unnamed: 5':'ST QNTY','Unnamed: 6':'GCV','Unnamed: 7':'NaN','Unnamed: 8':'RECLIAM DATE','Unnamed: 9':'RC-QNTY','Unnamed: 10':'AVAILABLE QUANTITY','Unnamed: 11':'AGING','Unnamed: 12':'TOP GCV','Unnamed: 13':'TOP QNTY','Unnamed: 14':'BTM GCV','Unnamed: 15':'BTM QNTY','Unnamed: 16':'coal above 3500','Unnamed: 17':'3100-3500', 'Unnamed: 18':'<3100'}, inplace=True)


df2_cleaned = df2_cleaned.drop(3, axis=0)

## Display the DataFrame after dropping the row
##print("\nDataFrame after dropping the row with index 1:")df_cleaned)
df2_cleaned["Pile_id"]="1B"

df2_cleaned

,STACKING DATE,RAKE NO,SPUR,SUB PILE,TOP/BOTTOM,ST QNTY,GCV,NaN,RECLIAM DATE,RC-QNTY,AVAILABLE QUANTITY,AGING,TOP GCV,TOP QNTY,BTM GCV,BTM QNTY,coal above 3500,3100-3500,<3100,Pile_id
4,2024-09-12 00:00:00,29,10,1,B,3910,2357,As per result,NaN,NaN,3910,116,0,0,2357,3910,0,0,3910,1B
5,2024-10-02 00:00:00,2,1,2,B,3750,3206,As per result,NaN,NaN,3750,96,0,0,3206,3750,0,3750,0,1B
6,2024-10-10 00:00:00,21,1,2,T,3264,3034,As per result,NaN,NaN,3264,88,3034,3264,0,0,0,0,3264,1B
7,2024-10-15 00:00:00,31,1,2,T,3568,3034,As per result,NaN,NaN,3568,83,3034,3568,0,0,0,0,3568,1B
8,2024-11-02 00:00:00,85,5,2,T,2595,2960,As per result,NaN,NaN,2595,65,2960,2595,0,0,0,0,2595,1B
9,2024-11-03 00:00:00,88,5,2,T,3143,3396,As per result,NaN,NaN,3143,64,3396,3143,0,0,0,3143,0,1B

In [ ]:
# Convert specific columns to their respective data types
# Convert specific columns to their respective data types
df2_cleaned["STACKING DATE"] = pd.to_datetime(df2_cleaned["STACKING DATE"], errors='coerce')
df2_cleaned["RECLIAM DATE"] = pd.to_datetime(df2_cleaned["RECLIAM DATE"], errors='coerce')
df2_cleaned["Pile_id"] = df2_cleaned["Pile_id"].astype(str)
df2_cleaned["SPUR"] = df2_cleaned["SPUR"].astype(str)
df2_cleaned["TOP/BOTTOM"] = df2_cleaned["TOP/BOTTOM"].astype(str)
df2_cleaned["RAKE NO"] = df2_cleaned["RAKE NO"].astype('Int64')
df2_cleaned["SUB PILE"] = df2_cleaned["SUB PILE"].astype('Int64')
df2_cleaned["ST QNTY"] = df2_cleaned["ST QNTY"].astype('Int64')
df2_cleaned["GCV"] = df2_cleaned["GCV"].astype('float')
df2_cleaned["RC-QNTY"] = df2_cleaned["RC-QNTY"].astype('Int64')
df2_cleaned["AVAILABLE QUANTITY"] = df2_cleaned["AVAILABLE QUANTITY"].astype('Int64')
df2_cleaned["AGING"] = df2_cleaned["AGING"].astype('Int64')
df2_cleaned["TOP GCV"] = df2_cleaned["TOP GCV"].astype('float')
df2_cleaned["TOP QNTY"] = df2_cleaned["TOP QNTY"].astype('Int64')
df2_cleaned["BTM GCV"] = df2_cleaned["BTM GCV"].astype('float')
df2_cleaned["BTM QNTY"] = df2_cleaned["BTM QNTY"].astype('Int64')
df2_cleaned["coal above 3500"] = df2_cleaned["coal above 3500"].astype('Int64')
df2_cleaned["3100-3500"] = df2_cleaned["3100-3500"].astype('Int64')
df2_cleaned["<3100"] = df2_cleaned["<3100"].astype('Int64')

In [ ]:
df2_cleaned.dtypes

STACKING DATE         datetime64[ns]
RAKE NO                        Int64
SPUR                          object
SUB PILE                       Int64
TOP/BOTTOM                    object
ST QNTY                        Int64
GCV                          float64
NaN                           object
RECLIAM DATE          datetime64[ns]
RC-QNTY                        Int64
AVAILABLE QUANTITY             Int64
AGING                          Int64
TOP GCV                      float64
TOP QNTY                       Int64
BTM GCV                      float64
BTM QNTY                       Int64
coal above 3500                Int64
3100-3500                      Int64
<3100                          Int64
Pile_id                       object
dtype: object

In [ ]:
# Load the data from the specific sheet into a pandas DataFrame
df3 = pd.read_excel(file_path, sheet_name="PILE-1C")  # Use sheet_name as a parameter

# Display the first few rows of the DataFrame
#df2
df3_cleaned = df3.iloc[3:10,:19]
#df3_cleaned

In [ ]:
df3_cleaned.rename(columns={'Unnamed: 0': 'STACKING DATE','Unnamed: 1':'RAKE NO','Unnamed: 2': 'SPUR','Unnamed: 3':'SUB PILE','Unnamed: 4':'TOP/BOTTOM','Unnamed: 5':'ST QNTY','Unnamed: 6':'GCV','Unnamed: 7':'NaN','Unnamed: 8':'RECLIAM DATE','Unnamed: 9':'RC-QNTY','Unnamed: 10':'AVAILABLE QUANTITY','Unnamed: 11':'AGING','Unnamed: 12':'TOP GCV','Unnamed: 13':'TOP QNTY','Unnamed: 14':'BTM GCV','Unnamed: 15':'BTM QNTY','Unnamed: 16':'coal above 3500','Unnamed: 17':'3100-3500', 'Unnamed: 18':'<3100'}, inplace=True)


df3_cleaned = df3_cleaned.drop(3, axis=0)
df3_cleaned["Pile_id"]="1C"


## Display the DataFrame after dropping the row
##print("\nDataFrame after dropping the row with index 1:")df_cleaned)
df3_cleaned

,STACKING DATE,RAKE NO,SPUR,SUB PILE,TOP/BOTTOM,ST QNTY,GCV,NaN,RECLIAM DATE,RC-QNTY,AVAILABLE QUANTITY,AGING,TOP GCV,TOP QNTY,BTM GCV,BTM QNTY,coal above 3500,3100-3500,<3100,Pile_id
4,2024-10-18 00:00:00,35,SILO,1,B,2800,3523,As per result,NaN,NaN,2800,80,0,0,3523,2800,2800,0,0,1C
5,2024-10-23 00:00:00,52,SILO,1,B,3716,3574.033626,As per result,NaN,NaN,3716,75,0,0,3574.033626,3716,3716,0,0,1C
6,2024-10-24 00:00:00,57,SILO,1,T,4308,3653,As per result,NaN,NaN,4308,74,3653,4308,0,0,4308,0,0,1C
7,2024-10-25 00:00:00,62,SILO,1,T,2500,3274.997947,As per result,NaN,NaN,2500,73,3274.997947,2500,0,0,0,2500,0,1C
8,2024-10-25 00:00:00,63,SILO,1,T,2700,3585.334803,As per result,NaN,NaN,2700,73,3585.334803,2700,0,0,2700,0,0,1C
9,2024-11-02 00:00:00,86,SILO,1,T,1172,3237,As per result,NaN,NaN,1172,65,3237,1172,0,0,0,1172,0,1C

In [ ]:
# Convert specific columns to their respective data types
df3_cleaned["STACKING DATE"] = pd.to_datetime(df3_cleaned["STACKING DATE"], errors='coerce')
df3_cleaned["RECLIAM DATE"] = pd.to_datetime(df3_cleaned["RECLIAM DATE"], errors='coerce')
df3_cleaned["Pile_id"] = df3_cleaned["Pile_id"].astype(str)
df3_cleaned["SPUR"] = df3_cleaned["SPUR"].astype(str)
df3_cleaned["TOP/BOTTOM"] = df3_cleaned["TOP/BOTTOM"].astype(str)
df3_cleaned["RAKE NO"] = df3_cleaned["RAKE NO"].astype('Int64')
df3_cleaned["SUB PILE"] = df3_cleaned["SUB PILE"].astype('Int64')
df3_cleaned["ST QNTY"] = df3_cleaned["ST QNTY"].astype('Int64')
df3_cleaned["GCV"] = df3_cleaned["GCV"].astype('float')
df3_cleaned["RC-QNTY"] = df3_cleaned["RC-QNTY"].astype('Int64')
df3_cleaned["AVAILABLE QUANTITY"] = df3_cleaned["AVAILABLE QUANTITY"].astype('Int64')
df3_cleaned["AGING"] = df3_cleaned["AGING"].astype('Int64')
df3_cleaned["TOP GCV"] = df3_cleaned["TOP GCV"].astype('float')
df3_cleaned["TOP QNTY"] = df3_cleaned["TOP QNTY"].astype('Int64')
df3_cleaned["BTM GCV"] = df3_cleaned["BTM GCV"].astype('float')
df3_cleaned["BTM QNTY"] = df3_cleaned["BTM QNTY"].astype('Int64')
df3_cleaned["coal above 3500"] = df3_cleaned["coal above 3500"].astype('Int64')
df3_cleaned["3100-3500"] = df3_cleaned["3100-3500"].astype('Int64')
df3_cleaned["<3100"] = df3_cleaned["<3100"].astype('Int64')

In [ ]:
df3_cleaned.dtypes

STACKING DATE         datetime64[ns]
RAKE NO                        Int64
SPUR                          object
SUB PILE                       Int64
TOP/BOTTOM                    object
ST QNTY                        Int64
GCV                          float64
NaN                           object
RECLIAM DATE          datetime64[ns]
RC-QNTY                        Int64
AVAILABLE QUANTITY             Int64
AGING                          Int64
TOP GCV                      float64
TOP QNTY                       Int64
BTM GCV                      float64
BTM QNTY                       Int64
coal above 3500                Int64
3100-3500                      Int64
<3100                          Int64
Pile_id                       object
dtype: object

In [ ]:
# Load the data from the specific sheet into a pandas DataFrame
df4 = pd.read_excel(file_path, sheet_name="PILE-1D")  # Use sheet_name as a parameter

# Display the first few rows of the DataFrame
#df2
df4_cleaned = df4.iloc[3:10,:19]
#df4_cleaned

In [ ]:
df4_cleaned.rename(columns={'Unnamed: 0': 'STACKING DATE','Unnamed: 1':'RAKE NO','Unnamed: 2': 'SPUR','Unnamed: 3':'SUB PILE','Unnamed: 4':'TOP/BOTTOM','Unnamed: 5':'ST QNTY','Unnamed: 6':'GCV','Unnamed: 7':'NaN','Unnamed: 8':'RECLIAM DATE','Unnamed: 9':'RC-QNTY','Unnamed: 10':'AVAILABLE QUANTITY','Unnamed: 11':'AGING','Unnamed: 12':'TOP GCV','Unnamed: 13':'TOP QNTY','Unnamed: 14':'BTM GCV','Unnamed: 15':'BTM QNTY','Unnamed: 16':'coal above 3500','Unnamed: 17':'3100-3500', 'Unnamed: 18':'<3100'}, inplace=True)

#This line of code is using the .drop() method in pandas to remove a specific row from a DataFrame. Here's what each part does:
# drop(3, axis=0):
#3 refers to the index label of the row that is being removed.
df4_cleaned = df4_cleaned.drop(3, axis=0)
df4_cleaned["Pile_id"]="1D"

## Display the DataFrame after dropping the row
##print("\nDataFrame after dropping the row with index 1:")df_cleaned)
df4_cleaned

,STACKING DATE,RAKE NO,SPUR,SUB PILE,TOP/BOTTOM,ST QNTY,GCV,NaN,RECLIAM DATE,RC-QNTY,AVAILABLE QUANTITY,AGING,TOP GCV,TOP QNTY,BTM GCV,BTM QNTY,coal above 3500,3100-3500,<3100,Pile_id
4,2024-10-21 00:00:00,45,5,1,B,3970,3355.556506,As per result,NaN,NaN,3970,77,0,0,3355.556506,3970,0,3970,0,1D
5,2024-10-22 00:00:00,46,5,1,B,2930,3618.133722,As per result,NaN,NaN,2930,76,0,0,3618.133722,2930,2930,0,0,1D
6,2024-10-22 00:00:00,48,5,1,T,3475,3597,As per result,NaN,NaN,3475,76,3597,3475,0,0,3475,0,0,1D
7,2024-10-23 00:00:00,51,5,1,T,3580,3129.645473,As per result,NaN,NaN,3580,75,3129.645473,3580,0,0,0,3580,0,1D
8,2024-10-24 00:00:00,55,5,1,T,3700,3527.867287,As per result,NaN,NaN,3700,74,3527.867287,3700,0,0,3700,0,0,1D
9,2024-11-06 00:00:00,6,5,1,T,3614,3859.0587,As per result,NaN,NaN,3614,61,3859.0587,3614,0,0,3614,0,0,1D

In [ ]:
# Convert specific columns to their respective data types
df4_cleaned["STACKING DATE"] = pd.to_datetime(df4_cleaned["STACKING DATE"], errors='coerce')
df4_cleaned["RECLIAM DATE"] = pd.to_datetime(df4_cleaned["RECLIAM DATE"], errors='coerce')
df4_cleaned["Pile_id"] = df4_cleaned["Pile_id"].astype(str)
df4_cleaned["SPUR"] = df4_cleaned["SPUR"].astype(str)
df4_cleaned["TOP/BOTTOM"] = df4_cleaned["TOP/BOTTOM"].astype(str)
df4_cleaned["RAKE NO"] = df4_cleaned["RAKE NO"].astype('Int64')
df4_cleaned["SUB PILE"] = df4_cleaned["SUB PILE"].astype('Int64')
df4_cleaned["ST QNTY"] = df4_cleaned["ST QNTY"].astype('Int64')
df4_cleaned["GCV"] = df4_cleaned["GCV"].astype('float')
df4_cleaned["RC-QNTY"] = df4_cleaned["RC-QNTY"].astype('Int64')
df4_cleaned["AVAILABLE QUANTITY"] = df4_cleaned["AVAILABLE QUANTITY"].astype('Int64')
df4_cleaned["AGING"] = df4_cleaned["AGING"].astype('Int64')
df4_cleaned["TOP GCV"] = df4_cleaned["TOP GCV"].astype('float')
df4_cleaned["TOP QNTY"] = df4_cleaned["TOP QNTY"].astype('Int64')
df4_cleaned["BTM GCV"] = df4_cleaned["BTM GCV"].astype('float')
df4_cleaned["BTM QNTY"] = df4_cleaned["BTM QNTY"].astype('Int64')
df4_cleaned["coal above 3500"] = df4_cleaned["coal above 3500"].astype('Int64')
df4_cleaned["3100-3500"] = df4_cleaned["3100-3500"].astype('Int64')
df4_cleaned["<3100"] = df4_cleaned["<3100"].astype('Int64')

In [ ]:
df4_cleaned.dtypes

STACKING DATE         datetime64[ns]
RAKE NO                        Int64
SPUR                          object
SUB PILE                       Int64
TOP/BOTTOM                    object
ST QNTY                        Int64
GCV                          float64
NaN                           object
RECLIAM DATE          datetime64[ns]
RC-QNTY                        Int64
AVAILABLE QUANTITY             Int64
AGING                          Int64
TOP GCV                      float64
TOP QNTY                       Int64
BTM GCV                      float64
BTM QNTY                       Int64
coal above 3500                Int64
3100-3500                      Int64
<3100                          Int64
Pile_id                       object
dtype: object

In [ ]:
# Load the data from the specific sheet into a pandas DataFrame
df5 = pd.read_excel(file_path, sheet_name="PILE-2A")  # Use sheet_name as a parameter

# Display the first few rows of the DataFrame
#df2
df5_cleaned = df5.iloc[3:10,:19]
#df5_cleaned

In [ ]:
df5_cleaned.rename(columns={'Unnamed: 0': 'STACKING DATE','Unnamed: 1':'RAKE NO','Unnamed: 2': 'SPUR','Unnamed: 3':'SUB PILE','Unnamed: 4':'TOP/BOTTOM','Unnamed: 5':'ST QNTY','Unnamed: 6':'GCV','Unnamed: 7':'NaN','Unnamed: 8':'RECLIAM DATE','Unnamed: 9':'RC-QNTY','Unnamed: 10':'AVAILABLE QUANTITY','Unnamed: 11':'AGING','Unnamed: 12':'TOP GCV','Unnamed: 13':'TOP QNTY','Unnamed: 14':'BTM GCV','Unnamed: 15':'BTM QNTY','Unnamed: 16':'coal above 3500','Unnamed: 17':'3100-3500', 'Unnamed: 18':'<3100'}, inplace=True)


df5_cleaned = df5_cleaned.drop(3, axis=0)
df5_cleaned["Pile_id"]="2A"

## Display the DataFrame after dropping the row
##print("\nDataFrame after dropping the row with index 1:")df_cleaned)
df5_cleaned

,STACKING DATE,RAKE NO,SPUR,SUB PILE,TOP/BOTTOM,ST QNTY,GCV,NaN,RECLIAM DATE,RC-QNTY,AVAILABLE QUANTITY,AGING,TOP GCV,TOP QNTY,BTM GCV,BTM QNTY,coal above 3500,3100-3500,<3100,Pile_id
4,2024-11-25 00:00:00,50,1,1,B,3784,2435,As per result,NaN,NaN,3784,42,0,0,2435,3784,0,0,3784,2A
5,2024-11-28 00:00:00,62,1,1,B,4166,2854,Approx,NaN,NaN,4166,39,0,0,2854,4166,0,0,4166,2A
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,2A
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,2A
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,2A
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,2A

In [ ]:
# Convert specific columns to their respective data types
df5_cleaned["STACKING DATE"] = pd.to_datetime(df5_cleaned["STACKING DATE"], errors='coerce')
df5_cleaned["RECLIAM DATE"] = pd.to_datetime(df5_cleaned["RECLIAM DATE"], errors='coerce')
df5_cleaned["Pile_id"] = df5_cleaned["Pile_id"].astype(str)
df5_cleaned["SPUR"] = df5_cleaned["SPUR"].astype(str)
df5_cleaned["TOP/BOTTOM"] = df5_cleaned["TOP/BOTTOM"].astype(str)
df5_cleaned["RAKE NO"] = df5_cleaned["RAKE NO"].astype('Int64')
df5_cleaned["SUB PILE"] = df5_cleaned["SUB PILE"].astype('Int64')
df5_cleaned["ST QNTY"] = df5_cleaned["ST QNTY"].astype('Int64')
df5_cleaned["GCV"] = df5_cleaned["GCV"].astype('float')
df5_cleaned["RC-QNTY"] = df5_cleaned["RC-QNTY"].astype('Int64')
df5_cleaned["AVAILABLE QUANTITY"] = df5_cleaned["AVAILABLE QUANTITY"].astype('Int64')
df5_cleaned["AGING"] = df5_cleaned["AGING"].astype('Int64')
df5_cleaned["TOP GCV"] = df5_cleaned["TOP GCV"].astype('float')
df5_cleaned["TOP QNTY"] = df5_cleaned["TOP QNTY"].astype('Int64')
df5_cleaned["BTM GCV"] = df5_cleaned["BTM GCV"].astype('float')
df5_cleaned["BTM QNTY"] = df5_cleaned["BTM QNTY"].astype('Int64')
df5_cleaned["coal above 3500"] = df5_cleaned["coal above 3500"].astype('Int64')
df5_cleaned["3100-3500"] = df5_cleaned["3100-3500"].astype('Int64')
df5_cleaned["<3100"] = df5_cleaned["<3100"].astype('Int64')

In [ ]:
df5_cleaned.dtypes

STACKING DATE         datetime64[ns]
RAKE NO                        Int64
SPUR                          object
SUB PILE                       Int64
TOP/BOTTOM                    object
ST QNTY                        Int64
GCV                          float64
NaN                           object
RECLIAM DATE          datetime64[ns]
RC-QNTY                        Int64
AVAILABLE QUANTITY             Int64
AGING                          Int64
TOP GCV                      float64
TOP QNTY                       Int64
BTM GCV                      float64
BTM QNTY                       Int64
coal above 3500                Int64
3100-3500                      Int64
<3100                          Int64
Pile_id                       object
dtype: object

In [ ]:
# Load the data from the specific sheet into a pandas DataFrame
df6 = pd.read_excel(file_path, sheet_name="PILE-2B")  # Use sheet_name as a parameter

# Display the first few rows of the DataFrame
#df2
df6_cleaned = df6.iloc[3:10,:19]
#df6_cleaned

In [ ]:
df6_cleaned.rename(columns={'Unnamed: 0': 'STACKING DATE','Unnamed: 1':'RAKE NO','Unnamed: 2': 'SPUR','Unnamed: 3':'SUB PILE','Unnamed: 4':'TOP/BOTTOM','Unnamed: 5':'ST QNTY','Unnamed: 6':'GCV','Unnamed: 7':'NaN','Unnamed: 8':'RECLIAM DATE','Unnamed: 9':'RC-QNTY','Unnamed: 10':'AVAILABLE QUANTITY','Unnamed: 11':'AGING','Unnamed: 12':'TOP GCV','Unnamed: 13':'TOP QNTY','Unnamed: 14':'BTM GCV','Unnamed: 15':'BTM QNTY','Unnamed: 16':'coal above 3500','Unnamed: 17':'3100-3500', 'Unnamed: 18':'<3100'}, inplace=True)


df6_cleaned = df6_cleaned.drop(3, axis=0)
df6_cleaned["Pile_id"]="2B"

## Display the DataFrame after dropping the row
##print("\nDataFrame after dropping the row with index 1:")df_cleaned)
df6_cleaned

,STACKING DATE,RAKE NO,SPUR,SUB PILE,TOP/BOTTOM,ST QNTY,GCV,NaN,RECLIAM DATE,RC-QNTY,AVAILABLE QUANTITY,AGING,TOP GCV,TOP QNTY,BTM GCV,BTM QNTY,coal above 3500,3100-3500,<3100,Pile_id
4,2024-11-27 00:00:00,58,6,1,B,4538,3487,As per result,NaN,NaN,4538,40,0,0,3487,4538,0,4538,0,2B
5,2024-11-28 00:00:00,64,SILO,2,B,3867,3119,Approx,NaN,NaN,3867,39,0,0,3119,3867,0,3867,0,2B
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,2B
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,2B
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,2B
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,2B

In [ ]:
# Convert specific columns to their respective data types
df6_cleaned["STACKING DATE"] = pd.to_datetime(df6_cleaned["STACKING DATE"], errors='coerce')
df6_cleaned["RECLIAM DATE"] = pd.to_datetime(df6_cleaned["RECLIAM DATE"], errors='coerce')
df6_cleaned["Pile_id"] = df6_cleaned["Pile_id"].astype(str)
df6_cleaned["SPUR"] = df6_cleaned["SPUR"].astype(str)
df6_cleaned["TOP/BOTTOM"] = df6_cleaned["TOP/BOTTOM"].astype(str)
df6_cleaned["RAKE NO"] = df6_cleaned["RAKE NO"].astype('Int64')
df6_cleaned["SUB PILE"] = df6_cleaned["SUB PILE"].astype('Int64')
df6_cleaned["ST QNTY"] = df6_cleaned["ST QNTY"].astype('Int64')
df6_cleaned["GCV"] = df6_cleaned["GCV"].astype('float')
df6_cleaned["RC-QNTY"] = df6_cleaned["RC-QNTY"].astype('Int64')
df6_cleaned["AVAILABLE QUANTITY"] = df6_cleaned["AVAILABLE QUANTITY"].astype('Int64')
df6_cleaned["AGING"] = df6_cleaned["AGING"].astype('Int64')
df6_cleaned["TOP GCV"] = df6_cleaned["TOP GCV"].astype('float')
df6_cleaned["TOP QNTY"] = df6_cleaned["TOP QNTY"].astype('Int64')
df6_cleaned["BTM GCV"] = df6_cleaned["BTM GCV"].astype('float')
df6_cleaned["BTM QNTY"] = df6_cleaned["BTM QNTY"].astype('Int64')
df6_cleaned["coal above 3500"] = df6_cleaned["coal above 3500"].astype('Int64')
df6_cleaned["3100-3500"] = df6_cleaned["3100-3500"].astype('Int64')
df6_cleaned["<3100"] = df6_cleaned["<3100"].astype('Int64')

In [ ]:
df6_cleaned.dtypes

STACKING DATE         datetime64[ns]
RAKE NO                        Int64
SPUR                          object
SUB PILE                       Int64
TOP/BOTTOM                    object
ST QNTY                        Int64
GCV                          float64
NaN                           object
RECLIAM DATE          datetime64[ns]
RC-QNTY                        Int64
AVAILABLE QUANTITY             Int64
AGING                          Int64
TOP GCV                      float64
TOP QNTY                       Int64
BTM GCV                      float64
BTM QNTY                       Int64
coal above 3500                Int64
3100-3500                      Int64
<3100                          Int64
Pile_id                       object
dtype: object

In [ ]:
# Load the data from the specific sheet into a pandas DataFrame
df7 = pd.read_excel(file_path, sheet_name="PILE-2C")  # Use sheet_name as a parameter

# Display the first few rows of the DataFrame
#df2
df7_cleaned = df7.iloc[3:10,:19]
#df7_cleaned

In [ ]:
df7_cleaned.rename(columns={'Unnamed: 0': 'STACKING DATE','Unnamed: 1':'RAKE NO','Unnamed: 2': 'SPUR','Unnamed: 3':'SUB PILE','Unnamed: 4':'TOP/BOTTOM','Unnamed: 5':'ST QNTY','Unnamed: 6':'GCV','Unnamed: 7':'NaN','Unnamed: 8':'RECLIAM DATE','Unnamed: 9':'RC-QNTY','Unnamed: 10':'AVAILABLE QUANTITY','Unnamed: 11':'AGING','Unnamed: 12':'TOP GCV','Unnamed: 13':'TOP QNTY','Unnamed: 14':'BTM GCV','Unnamed: 15':'BTM QNTY','Unnamed: 16':'coal above 3500','Unnamed: 17':'3100-3500', 'Unnamed: 18':'<3100'}, inplace=True)


df7_cleaned = df7_cleaned.drop(3, axis=0)
df7_cleaned["Pile_id"]="2C"

## Display the DataFrame after dropping the row
##print("\nDataFrame after dropping the row with index 1:")df_cleaned)
df7_cleaned

,STACKING DATE,RAKE NO,SPUR,SUB PILE,TOP/BOTTOM,ST QNTY,GCV,NaN,RECLIAM DATE,RC-QNTY,AVAILABLE QUANTITY,AGING,TOP GCV,TOP QNTY,BTM GCV,BTM QNTY,coal above 3500,3100-3500,<3100,Pile_id
4,2024-10-09 00:00:00,17,4,1,B,3250,2891,As per result,NaN,NaN,3250,89,0,0,2891,3250,0,0,3250,2C
5,2024-10-26 00:00:00,64,4,1,B,1900,2731.067663,As per result,NaN,NaN,1900,72,0,0,2731.067663,1900,0,0,1900,2C
6,2024-10-26 00:00:00,66,2,2,B,1700,2866.359424,As per result,NaN,NaN,1700,72,0,0,2866.359424,1700,0,0,1700,2C
7,2024-10-29 00:00:00,73,2,2,B,3600,2903,As per result,NaN,NaN,3600,69,0,0,2903,3600,0,0,3600,2C
8,2024-10-30 00:00:00,78,1,2,B,6019,3592,As per result,NaN,NaN,6019,68,0,0,3592,6019,6019,0,0,2C
9,2024-10-31 00:00:00,81,2,2,T,3200,3398,As per result,NaN,NaN,3200,67,3398,3200,0,0,0,3200,0,2C

In [ ]:
# Convert specific columns to their respective data types
df7_cleaned["STACKING DATE"] = pd.to_datetime(df7_cleaned["STACKING DATE"], errors='coerce')
df7_cleaned["RECLIAM DATE"] = pd.to_datetime(df7_cleaned["RECLIAM DATE"], errors='coerce')
df7_cleaned["Pile_id"] = df7_cleaned["Pile_id"].astype(str)
df7_cleaned["SPUR"] = df7_cleaned["SPUR"].astype(str)
df7_cleaned["TOP/BOTTOM"] = df7_cleaned["TOP/BOTTOM"].astype(str)
df7_cleaned["RAKE NO"] = df7_cleaned["RAKE NO"].astype('Int64')
df7_cleaned["SUB PILE"] = df7_cleaned["SUB PILE"].astype('Int64')
df7_cleaned["ST QNTY"] = df7_cleaned["ST QNTY"].astype('Int64')
df7_cleaned["GCV"] = df7_cleaned["GCV"].astype('float')
df7_cleaned["RC-QNTY"] = df7_cleaned["RC-QNTY"].astype('Int64')
df7_cleaned["AVAILABLE QUANTITY"] = df7_cleaned["AVAILABLE QUANTITY"].astype('Int64')
df7_cleaned["AGING"] = df7_cleaned["AGING"].astype('Int64')
df7_cleaned["TOP GCV"] = df7_cleaned["TOP GCV"].astype('float')
df7_cleaned["TOP QNTY"] = df7_cleaned["TOP QNTY"].astype('Int64')
df7_cleaned["BTM GCV"] = df7_cleaned["BTM GCV"].astype('float')
df7_cleaned["BTM QNTY"] = df7_cleaned["BTM QNTY"].astype('Int64')
df7_cleaned["coal above 3500"] = df7_cleaned["coal above 3500"].astype('Int64')
df7_cleaned["3100-3500"] = df7_cleaned["3100-3500"].astype('Int64')
df7_cleaned["<3100"] = df7_cleaned["<3100"].astype('Int64')

In [ ]:
df7_cleaned.dtypes

STACKING DATE         datetime64[ns]
RAKE NO                        Int64
SPUR                          object
SUB PILE                       Int64
TOP/BOTTOM                    object
ST QNTY                        Int64
GCV                          float64
NaN                           object
RECLIAM DATE          datetime64[ns]
RC-QNTY                        Int64
AVAILABLE QUANTITY             Int64
AGING                          Int64
TOP GCV                      float64
TOP QNTY                       Int64
BTM GCV                      float64
BTM QNTY                       Int64
coal above 3500                Int64
3100-3500                      Int64
<3100                          Int64
Pile_id                       object
dtype: object

In [ ]:
# Load the data from the specific sheet into a pandas DataFrame
df8 = pd.read_excel(file_path, sheet_name="PILE-2D")  # Use sheet_name as a parameter

# Display the first few rows of the DataFrame
#df2
df8_cleaned = df8.iloc[3:10,:19]
#df8_cleaned

In [ ]:
df8_cleaned.rename(columns={'Unnamed: 0': 'STACKING DATE','Unnamed: 1':'RAKE NO','Unnamed: 2': 'SPUR','Unnamed: 3':'SUB PILE','Unnamed: 4':'TOP/BOTTOM','Unnamed: 5':'ST QNTY','Unnamed: 6':'GCV','Unnamed: 7':'NaN','Unnamed: 8':'RECLIAM DATE','Unnamed: 9':'RC-QNTY','Unnamed: 10':'AVAILABLE QUANTITY','Unnamed: 11':'AGING','Unnamed: 12':'TOP GCV','Unnamed: 13':'TOP QNTY','Unnamed: 14':'BTM GCV','Unnamed: 15':'BTM QNTY','Unnamed: 16':'coal above 3500','Unnamed: 17':'3100-3500', 'Unnamed: 18':'<3100'}, inplace=True)


df8_cleaned = df8_cleaned.drop(3, axis=0)
df8_cleaned["Pile_id"]="2D"


## Display the DataFrame after dropping the row
##print("\nDataFrame after dropping the row with index 1:")df_cleaned)
df8_cleaned

,STACKING DATE,RAKE NO,SPUR,SUB PILE,TOP/BOTTOM,ST QNTY,GCV,NaN,RECLIAM DATE,RC-QNTY,AVAILABLE QUANTITY,AGING,TOP GCV,TOP QNTY,BTM GCV,BTM QNTY,coal above 3500,3100-3500,<3100,Pile_id
4,2024-11-28 00:00:00,63,5,1,B,3926,3637,Approx,NaN,NaN,3926,39,0,0,3637,3926,3926,0,0,2D
5,2024-11-29 00:00:00,65,5,1,B,3580,3637,Approx,NaN,NaN,3580,38,0,0,3637,3580,3580,0,0,2D
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,2D
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,2D
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,2D
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,2D

In [ ]:
# Convert specific columns to their respective data types
df8_cleaned["STACKING DATE"] = pd.to_datetime(df8_cleaned["STACKING DATE"], errors='coerce')
df8_cleaned["RECLIAM DATE"] = pd.to_datetime(df8_cleaned["RECLIAM DATE"], errors='coerce')
df8_cleaned["Pile_id"] = df8_cleaned["Pile_id"].astype(str)
df8_cleaned["SPUR"] = df8_cleaned["SPUR"].astype(str)
df8_cleaned["TOP/BOTTOM"] = df8_cleaned["TOP/BOTTOM"].astype(str)
df8_cleaned["RAKE NO"] = df8_cleaned["RAKE NO"].astype('Int64')
df8_cleaned["SUB PILE"] = df8_cleaned["SUB PILE"].astype('Int64')
df8_cleaned["ST QNTY"] = df8_cleaned["ST QNTY"].astype('Int64')
df8_cleaned["GCV"] = df8_cleaned["GCV"].astype('float')
df8_cleaned["RC-QNTY"] = df8_cleaned["RC-QNTY"].astype('Int64')
df8_cleaned["AVAILABLE QUANTITY"] = df8_cleaned["AVAILABLE QUANTITY"].astype('Int64')
df8_cleaned["AGING"] = df8_cleaned["AGING"].astype('Int64')
df8_cleaned["TOP GCV"] = df8_cleaned["TOP GCV"].astype('float')
df8_cleaned["TOP QNTY"] = df8_cleaned["TOP QNTY"].astype('Int64')
df8_cleaned["BTM GCV"] = df8_cleaned["BTM GCV"].astype('float')
df8_cleaned["BTM QNTY"] = df8_cleaned["BTM QNTY"].astype('Int64')
df8_cleaned["coal above 3500"] = df8_cleaned["coal above 3500"].astype('Int64')
df8_cleaned["3100-3500"] = df8_cleaned["3100-3500"].astype('Int64')
df8_cleaned["<3100"] = df8_cleaned["<3100"].astype('Int64')

In [ ]:
df8_cleaned.dtypes

STACKING DATE         datetime64[ns]
RAKE NO                        Int64
SPUR                          object
SUB PILE                       Int64
TOP/BOTTOM                    object
ST QNTY                        Int64
GCV                          float64
NaN                           object
RECLIAM DATE          datetime64[ns]
RC-QNTY                        Int64
AVAILABLE QUANTITY             Int64
AGING                          Int64
TOP GCV                      float64
TOP QNTY                       Int64
BTM GCV                      float64
BTM QNTY                       Int64
coal above 3500                Int64
3100-3500                      Int64
<3100                          Int64
Pile_id                       object
dtype: object

In [ ]:
# Load the data from the specific sheet into a pandas DataFrame
df9 = pd.read_excel(file_path, sheet_name="PILE-3A")  # Use sheet_name as a parameter

# Display the first few rows of the DataFrame
#df2
df9_cleaned = df9.iloc[3:10,:19]
#df9_cleaned

In [ ]:
df9_cleaned.rename(columns={'Unnamed: 0': 'STACKING DATE','Unnamed: 1':'RAKE NO','Unnamed: 2': 'SPUR','Unnamed: 3':'SUB PILE','Unnamed: 4':'TOP/BOTTOM','Unnamed: 5':'ST QNTY','Unnamed: 6':'GCV','Unnamed: 7':'NaN','Unnamed: 8':'RECLIAM DATE','Unnamed: 9':'RC-QNTY','Unnamed: 10':'AVAILABLE QUANTITY','Unnamed: 11':'AGING','Unnamed: 12':'TOP GCV','Unnamed: 13':'TOP QNTY','Unnamed: 14':'BTM GCV','Unnamed: 15':'BTM QNTY','Unnamed: 16':'coal above 3500','Unnamed: 17':'3100-3500', 'Unnamed: 18':'<3100'}, inplace=True)


df9_cleaned = df9_cleaned.drop(3, axis=0)
df9_cleaned["Pile_id"]="3A"


## Display the DataFrame after dropping the row
##print("\nDataFrame after dropping the row with index 1:")df_cleaned)
df9_cleaned

,STACKING DATE,RAKE NO,SPUR,SUB PILE,TOP/BOTTOM,ST QNTY,GCV,NaN,RECLIAM DATE,RC-QNTY,AVAILABLE QUANTITY,AGING,TOP GCV,TOP QNTY,BTM GCV,BTM QNTY,coal above 3500,3100-3500,<3100,Pile_id
4,2024-09-20 00:00:00,57,2,1,B,3344,3128,As per result,NaN,NaN,3344,108,0,0,3128,3344,0,3344,0,3A
5,2024-09-30 00:00:00,80,3,2,B,3133,2874,As per result,NaN,NaN,3133,98,0,0,2874,3133,0,0,3133,3A
6,2024-11-02 00:00:00,86,SILO,2,B,3800,3237,As per result,NaN,NaN,3800,65,0,0,3237,3800,0,3800,0,3A
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,3A
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,3A
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,3A

In [ ]:
# Convert specific columns to their respective data types
df9_cleaned["STACKING DATE"] = pd.to_datetime(df9_cleaned["STACKING DATE"], errors='coerce')
df9_cleaned["RECLIAM DATE"] = pd.to_datetime(df9_cleaned["RECLIAM DATE"], errors='coerce')
df9_cleaned["Pile_id"] = df9_cleaned["Pile_id"].astype(str)
df9_cleaned["SPUR"] = df9_cleaned["SPUR"].astype(str)
df9_cleaned["TOP/BOTTOM"] = df9_cleaned["TOP/BOTTOM"].astype(str)
df9_cleaned["RAKE NO"] = df9_cleaned["RAKE NO"].astype('Int64')
df9_cleaned["SUB PILE"] = df9_cleaned["SUB PILE"].astype('Int64')
df9_cleaned["ST QNTY"] = df9_cleaned["ST QNTY"].astype('Int64')
df9_cleaned["GCV"] = df9_cleaned["GCV"].astype('float')
df9_cleaned["RC-QNTY"] = df9_cleaned["RC-QNTY"].astype('Int64')
df9_cleaned["AVAILABLE QUANTITY"] = df9_cleaned["AVAILABLE QUANTITY"].astype('Int64')
df9_cleaned["AGING"] = df9_cleaned["AGING"].astype('Int64')
df9_cleaned["TOP GCV"] = df9_cleaned["TOP GCV"].astype('float')
df9_cleaned["TOP QNTY"] = df9_cleaned["TOP QNTY"].astype('Int64')
df9_cleaned["BTM GCV"] = df9_cleaned["BTM GCV"].astype('float')
df9_cleaned["BTM QNTY"] = df9_cleaned["BTM QNTY"].astype('Int64')
df9_cleaned["coal above 3500"] = df9_cleaned["coal above 3500"].astype('Int64')
df9_cleaned["3100-3500"] = df9_cleaned["3100-3500"].astype('Int64')
df9_cleaned["<3100"] = df9_cleaned["<3100"].astype('Int64')

In [ ]:
df9_cleaned.dtypes

STACKING DATE         datetime64[ns]
RAKE NO                        Int64
SPUR                          object
SUB PILE                       Int64
TOP/BOTTOM                    object
ST QNTY                        Int64
GCV                          float64
NaN                           object
RECLIAM DATE          datetime64[ns]
RC-QNTY                        Int64
AVAILABLE QUANTITY             Int64
AGING                          Int64
TOP GCV                      float64
TOP QNTY                       Int64
BTM GCV                      float64
BTM QNTY                       Int64
coal above 3500                Int64
3100-3500                      Int64
<3100                          Int64
Pile_id                       object
dtype: object

In [ ]:
# Load the data from the specific sheet into a pandas DataFrame
df10 = pd.read_excel(file_path, sheet_name="PILE-3B")  # Use sheet_name as a parameter

# Display the first few rows of the DataFrame
#df2
df10_cleaned = df10.iloc[3:10,:19]
#df10_cleaned

In [ ]:
df10_cleaned.rename(columns={'Unnamed: 0': 'STACKING DATE','Unnamed: 1':'RAKE NO','Unnamed: 2': 'SPUR','Unnamed: 3':'SUB PILE','Unnamed: 4':'TOP/BOTTOM','Unnamed: 5':'ST QNTY','Unnamed: 6':'GCV','Unnamed: 7':'NaN','Unnamed: 8':'RECLIAM DATE','Unnamed: 9':'RC-QNTY','Unnamed: 10':'AVAILABLE QUANTITY','Unnamed: 11':'AGING','Unnamed: 12':'TOP GCV','Unnamed: 13':'TOP QNTY','Unnamed: 14':'BTM GCV','Unnamed: 15':'BTM QNTY','Unnamed: 16':'coal above 3500','Unnamed: 17':'3100-3500', 'Unnamed: 18':'<3100'}, inplace=True)


df10_cleaned = df10_cleaned.drop(3, axis=0)
df10_cleaned["Pile_id"]="3B"


## Display the DataFrame after dropping the row
##print("\nDataFrame after dropping the row with index 1:")df_cleaned)
df10_cleaned

,STACKING DATE,RAKE NO,SPUR,SUB PILE,TOP/BOTTOM,ST QNTY,GCV,NaN,RECLIAM DATE,RC-QNTY,AVAILABLE QUANTITY,AGING,TOP GCV,TOP QNTY,BTM GCV,BTM QNTY,coal above 3500,3100-3500,<3100,Pile_id
4,2024-09-17 00:00:00,45,5,2,B,3836,3127.265308,As per result,NaN,NaN,3836,111,0,0,3127.265308,3836,0,3836,0,3B
5,2024-09-18 00:00:00,47,5,2,B,3540,2908.960922,As per result,NaN,NaN,3540,110,0,0,2908.960922,3540,0,0,3540,3B
6,2024-09-18 00:00:00,48,5,2,T,3032,3173,As per result,NaN,NaN,3032,110,3173,3032,0,0,0,3032,0,3B
7,2024-09-19 00:00:00,51,5,1,B,2750,3346.175155,As per result,2024-11-28 00:00:00,2750,0,109,0,0,3346.175155,0,0,0,0,3B
8,2024-09-19 00:00:00,52,5,1,B,3500,3248.312,As per result,2024-11-28 00:00:00,3500,0,109,0,0,3248.312,0,0,0,0,3B
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,3B

In [ ]:
# Convert specific columns to their respective data types
df10_cleaned["STACKING DATE"] = pd.to_datetime(df10_cleaned["STACKING DATE"], errors='coerce')
df10_cleaned["RECLIAM DATE"] = pd.to_datetime(df10_cleaned["RECLIAM DATE"], errors='coerce')
df10_cleaned["Pile_id"] = df10_cleaned["Pile_id"].astype(str)
df10_cleaned["SPUR"] = df10_cleaned["SPUR"].astype(str)
df10_cleaned["TOP/BOTTOM"] = df10_cleaned["TOP/BOTTOM"].astype(str)
df10_cleaned["RAKE NO"] = df10_cleaned["RAKE NO"].astype('Int64')
df10_cleaned["SUB PILE"] = df10_cleaned["SUB PILE"].astype('Int64')
df10_cleaned["ST QNTY"] = df10_cleaned["ST QNTY"].astype('Int64')
df10_cleaned["GCV"] = df10_cleaned["GCV"].astype('float')
df10_cleaned["RC-QNTY"] = df10_cleaned["RC-QNTY"].astype('Int64')
df10_cleaned["AVAILABLE QUANTITY"] = df10_cleaned["AVAILABLE QUANTITY"].astype('Int64')
df10_cleaned["AGING"] = df10_cleaned["AGING"].astype('Int64')
df10_cleaned["TOP GCV"] = df10_cleaned["TOP GCV"].astype('float')
df10_cleaned["TOP QNTY"] = df10_cleaned["TOP QNTY"].astype('Int64')
df10_cleaned["BTM GCV"] = df10_cleaned["BTM GCV"].astype('float')
df10_cleaned["BTM QNTY"] = df10_cleaned["BTM QNTY"].astype('Int64')
df10_cleaned["coal above 3500"] = df10_cleaned["coal above 3500"].astype('Int64')
df10_cleaned["3100-3500"] = df10_cleaned["3100-3500"].astype('Int64')
df10_cleaned["<3100"] = df10_cleaned["<3100"].astype('Int64')

In [ ]:
df10_cleaned.dtypes

STACKING DATE         datetime64[ns]
RAKE NO                        Int64
SPUR                          object
SUB PILE                       Int64
TOP/BOTTOM                    object
ST QNTY                        Int64
GCV                          float64
NaN                           object
RECLIAM DATE          datetime64[ns]
RC-QNTY                        Int64
AVAILABLE QUANTITY             Int64
AGING                          Int64
TOP GCV                      float64
TOP QNTY                       Int64
BTM GCV                      float64
BTM QNTY                       Int64
coal above 3500                Int64
3100-3500                      Int64
<3100                          Int64
Pile_id                       object
dtype: object

In [ ]:
# Load the data from the specific sheet into a pandas DataFrame
df11 = pd.read_excel(file_path, sheet_name="PILE-3C")  # Use sheet_name as a parameter

# Display the first few rows of the DataFrame
#df2
df11_cleaned = df11.iloc[3:10,:19]
#df11_cleaned

In [ ]:
df11_cleaned.rename(columns={'Unnamed: 0': 'STACKING DATE','Unnamed: 1':'RAKE NO','Unnamed: 2': 'SPUR','Unnamed: 3':'SUB PILE','Unnamed: 4':'TOP/BOTTOM','Unnamed: 5':'ST QNTY','Unnamed: 6':'GCV','Unnamed: 7':'NaN','Unnamed: 8':'RECLIAM DATE','Unnamed: 9':'RC-QNTY','Unnamed: 10':'AVAILABLE QUANTITY','Unnamed: 11':'AGING','Unnamed: 12':'TOP GCV','Unnamed: 13':'TOP QNTY','Unnamed: 14':'BTM GCV','Unnamed: 15':'BTM QNTY','Unnamed: 16':'coal above 3500','Unnamed: 17':'3100-3500', 'Unnamed: 18':'<3100'}, inplace=True)


df11_cleaned = df11_cleaned.drop(3, axis=0)
df11_cleaned["Pile_id"]="3C"


## Display the DataFrame after dropping the row
##print("\nDataFrame after dropping the row with index 1:")df_cleaned)
df11_cleaned

,STACKING DATE,RAKE NO,SPUR,SUB PILE,TOP/BOTTOM,ST QNTY,GCV,NaN,RECLIAM DATE,RC-QNTY,AVAILABLE QUANTITY,AGING,TOP GCV,TOP QNTY,BTM GCV,BTM QNTY,coal above 3500,3100-3500,<3100,Pile_id
4,2024-11-23 00:00:00,45,SILO,1,B,2690,3208.511734,As per result,NaN,NaN,2690,44,0,0,3208.511734,2690,0,2690,0,3C
5,2024-11-24 00:00:00,47,8,2,B,3650,2900.878048,As per result,NaN,NaN,3650,43,0,0,2900.878048,3650,0,0,3650,3C
6,2024-11-24 00:00:00,49,SILO,1,B,2326,3223.426043,As per result,NaN,NaN,2326,43,0,0,3223.426043,2326,0,2326,0,3C
7,2024-11-25 00:00:00,53,SILO,1,T,3348,3153,Approx,NaN,NaN,3348,42,3153,3348,0,0,0,3348,0,3C
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,3C
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,3C

In [ ]:
# Convert specific columns to their respective data types
df11_cleaned["STACKING DATE"] = pd.to_datetime(df11_cleaned["STACKING DATE"], errors='coerce')
df11_cleaned["RECLIAM DATE"] = pd.to_datetime(df11_cleaned["RECLIAM DATE"], errors='coerce')
df11_cleaned["Pile_id"] = df11_cleaned["Pile_id"].astype(str)
df11_cleaned["SPUR"] = df11_cleaned["SPUR"].astype(str)
df11_cleaned["TOP/BOTTOM"] = df11_cleaned["TOP/BOTTOM"].astype(str)
df11_cleaned["RAKE NO"] = df11_cleaned["RAKE NO"].astype('Int64')
df11_cleaned["SUB PILE"] = df11_cleaned["SUB PILE"].astype('Int64')
df11_cleaned["ST QNTY"] = df11_cleaned["ST QNTY"].astype('Int64')
df11_cleaned["GCV"] = df11_cleaned["GCV"].astype('float')
df11_cleaned["RC-QNTY"] = df11_cleaned["RC-QNTY"].astype('Int64')
df11_cleaned["AVAILABLE QUANTITY"] = df11_cleaned["AVAILABLE QUANTITY"].astype('Int64')
df11_cleaned["AGING"] = df11_cleaned["AGING"].astype('Int64')
df11_cleaned["TOP GCV"] = df11_cleaned["TOP GCV"].astype('float')
df11_cleaned["TOP QNTY"] = df11_cleaned["TOP QNTY"].astype('Int64')
df11_cleaned["BTM GCV"] = df11_cleaned["BTM GCV"].astype('float')
df11_cleaned["BTM QNTY"] = df11_cleaned["BTM QNTY"].astype('Int64')
df11_cleaned["coal above 3500"] = df11_cleaned["coal above 3500"].astype('Int64')
df11_cleaned["3100-3500"] = df11_cleaned["3100-3500"].astype('Int64')
df11_cleaned["<3100"] = df11_cleaned["<3100"].astype('Int64')

In [ ]:
df11_cleaned.dtypes

STACKING DATE         datetime64[ns]
RAKE NO                        Int64
SPUR                          object
SUB PILE                       Int64
TOP/BOTTOM                    object
ST QNTY                        Int64
GCV                          float64
NaN                           object
RECLIAM DATE          datetime64[ns]
RC-QNTY                        Int64
AVAILABLE QUANTITY             Int64
AGING                          Int64
TOP GCV                      float64
TOP QNTY                       Int64
BTM GCV                      float64
BTM QNTY                       Int64
coal above 3500                Int64
3100-3500                      Int64
<3100                          Int64
Pile_id                       object
dtype: object

In [ ]:
# Load the data from the specific sheet into a pandas DataFrame
df12 = pd.read_excel(file_path, sheet_name="PILE-3D")  # Use sheet_name as a parameter

# Display the first few rows of the DataFrame
#df2
df12_cleaned = df12.iloc[3:10,:19]
#df12_cleaned

In [ ]:
df12_cleaned.rename(columns={'Unnamed: 0': 'STACKING DATE','Unnamed: 1':'RAKE NO','Unnamed: 2': 'SPUR','Unnamed: 3':'SUB PILE','Unnamed: 4':'TOP/BOTTOM','Unnamed: 5':'ST QNTY','Unnamed: 6':'GCV','Unnamed: 7':'NaN','Unnamed: 8':'RECLIAM DATE','Unnamed: 9':'RC-QNTY','Unnamed: 10':'AVAILABLE QUANTITY','Unnamed: 11':'AGING','Unnamed: 12':'TOP GCV','Unnamed: 13':'TOP QNTY','Unnamed: 14':'BTM GCV','Unnamed: 15':'BTM QNTY','Unnamed: 16':'coal above 3500','Unnamed: 17':'3100-3500', 'Unnamed: 18':'<3100'}, inplace=True)


df12_cleaned = df12_cleaned.drop(3, axis=0)
df12_cleaned["Pile_id"]="3D"


## Display the DataFrame after dropping the row
##print("\nDataFrame after dropping the row with index 1:")df_cleaned)
df12_cleaned

,STACKING DATE,RAKE NO,SPUR,SUB PILE,TOP/BOTTOM,ST QNTY,GCV,NaN,RECLIAM DATE,RC-QNTY,AVAILABLE QUANTITY,AGING,TOP GCV,TOP QNTY,BTM GCV,BTM QNTY,coal above 3500,3100-3500,<3100,Pile_id
4,2024-11-19 00:00:00,34,6,1,B,3752,3355.353383,As per result,NaN,NaN,3752,48,0,0,3355.353383,3752,0,3752,0,3D
5,2024-11-19 00:00:00,37,4,2,B,3900,2641.159521,As per result,NaN,NaN,3900,48,0,0,2641.159521,3900,0,0,3900,3D
6,2024-11-20 00:00:00,38,6,1,B,3800,3631.116066,As per result,NaN,NaN,3800,47,0,0,3631.116066,3800,3800,0,0,3D
7,2024-11-21 00:00:00,41,6,1,T,2729,3623.369997,As per result,NaN,NaN,2729,46,3623.369997,2729,0,0,2729,0,0,3D
8,2024-11-24 00:00:00,48,6,1,T,4086,2991.231711,As per result,NaN,NaN,4086,43,2991.231711,4086,0,0,0,0,4086,3D
9,2024-11-25 00:00:00,51,6,1,T,3358,3417,As per result,NaN,NaN,3358,42,3417,3358,0,0,0,3358,0,3D

In [ ]:
# Convert specific columns to their respective data types
df12_cleaned["STACKING DATE"] = pd.to_datetime(df12_cleaned["STACKING DATE"], errors='coerce')
df12_cleaned["RECLIAM DATE"] = pd.to_datetime(df12_cleaned["RECLIAM DATE"], errors='coerce')
df12_cleaned["Pile_id"] = df12_cleaned["Pile_id"].astype(str)
df12_cleaned["SPUR"] = df12_cleaned["SPUR"].astype(str)
df12_cleaned["TOP/BOTTOM"] = df12_cleaned["TOP/BOTTOM"].astype(str)
df12_cleaned["RAKE NO"] = df12_cleaned["RAKE NO"].astype('Int64')
df12_cleaned["SUB PILE"] = df12_cleaned["SUB PILE"].astype('Int64')
df12_cleaned["ST QNTY"] = df12_cleaned["ST QNTY"].astype('Int64')
df12_cleaned["GCV"] = df12_cleaned["GCV"].astype('float')
df12_cleaned["RC-QNTY"] = df12_cleaned["RC-QNTY"].astype('Int64')
df12_cleaned["AVAILABLE QUANTITY"] = df12_cleaned["AVAILABLE QUANTITY"].astype('Int64')
df12_cleaned["AGING"] = df12_cleaned["AGING"].astype('Int64')
df12_cleaned["TOP GCV"] = df12_cleaned["TOP GCV"].astype('float')
df12_cleaned["TOP QNTY"] = df12_cleaned["TOP QNTY"].astype('Int64')
df12_cleaned["BTM GCV"] = df12_cleaned["BTM GCV"].astype('float')
df12_cleaned["BTM QNTY"] = df12_cleaned["BTM QNTY"].astype('Int64')
df12_cleaned["coal above 3500"] = df12_cleaned["coal above 3500"].astype('Int64')
df12_cleaned["3100-3500"] = df12_cleaned["3100-3500"].astype('Int64')
df12_cleaned["<3100"] = df12_cleaned["<3100"].astype('Int64')

In [ ]:
df12_cleaned.dtypes

STACKING DATE         datetime64[ns]
RAKE NO                        Int64
SPUR                          object
SUB PILE                       Int64
TOP/BOTTOM                    object
ST QNTY                        Int64
GCV                          float64
NaN                           object
RECLIAM DATE          datetime64[ns]
RC-QNTY                        Int64
AVAILABLE QUANTITY             Int64
AGING                          Int64
TOP GCV                      float64
TOP QNTY                       Int64
BTM GCV                      float64
BTM QNTY                       Int64
coal above 3500                Int64
3100-3500                      Int64
<3100                          Int64
Pile_id                       object
dtype: object

In [ ]:
# Load the data from the specific sheet into a pandas DataFrame
df13 = pd.read_excel(file_path, sheet_name="PILE-4A")  # Use sheet_name as a parameter

# Display the first few rows of the DataFrame
#df2
df13_cleaned = df13.iloc[3:10,:19]
#df13_cleaned

In [ ]:
df13_cleaned.rename(columns={'Unnamed: 0': 'STACKING DATE','Unnamed: 1':'RAKE NO','Unnamed: 2': 'SPUR','Unnamed: 3':'SUB PILE','Unnamed: 4':'TOP/BOTTOM','Unnamed: 5':'ST QNTY','Unnamed: 6':'GCV','Unnamed: 7':'NaN','Unnamed: 8':'RECLIAM DATE','Unnamed: 9':'RC-QNTY','Unnamed: 10':'AVAILABLE QUANTITY','Unnamed: 11':'AGING','Unnamed: 12':'TOP GCV','Unnamed: 13':'TOP QNTY','Unnamed: 14':'BTM GCV','Unnamed: 15':'BTM QNTY','Unnamed: 16':'coal above 3500','Unnamed: 17':'3100-3500', 'Unnamed: 18':'<3100'}, inplace=True)


df13_cleaned = df13_cleaned.drop(3, axis=0)
df13_cleaned["Pile_id"]="4A"


## Display the DataFrame after dropping the row
##print("\nDataFrame after dropping the row with index 1:")df_cleaned)
df13_cleaned

,STACKING DATE,RAKE NO,SPUR,SUB PILE,TOP/BOTTOM,ST QNTY,GCV,NaN,RECLIAM DATE,RC-QNTY,AVAILABLE QUANTITY,AGING,TOP GCV,TOP QNTY,BTM GCV,BTM QNTY,coal above 3500,3100-3500,<3100,Pile_id
4,2024-10-09 00:00:00,20,3,1,B,5075,2818,As per result,2024-10-23 00:00:00,1800,3275,89,0,0,2818,3275,0,0,3275,4A
5,2024-10-30 00:00:00,78,1,1,B,2453,3592,As per result,NaN,NaN,2453,68,0,0,3592,2453,2453,0,0,4A
6,2024-11-01 00:00:00,79,5,2,B,3485,3375,As per result,NaN,NaN,3485,66,0,0,3375,3485,0,3485,0,4A
7,2024-11-03 00:00:00,89,SILO,1,T,4862,3246,As per result,NaN,NaN,4862,64,3246,4862,0,0,0,4862,0,4A
8,2024-11-25 00:00:00,54,4,2,T,3126,2766,As per result,NaN,NaN,3126,42,2766,3126,0,0,0,0,3126,4A
9,2024-11-27 00:00:00,61,SILO,1,T,4273,3119,Approx,NaN,NaN,4273,40,3119,4273,0,0,0,4273,0,4A

In [ ]:
# Convert specific columns to their respective data types
df13_cleaned["STACKING DATE"] = pd.to_datetime(df13_cleaned["STACKING DATE"], errors='coerce')
df13_cleaned["RECLIAM DATE"] = pd.to_datetime(df13_cleaned["RECLIAM DATE"], errors='coerce')
df13_cleaned["Pile_id"] = df13_cleaned["Pile_id"].astype(str)
df13_cleaned["SPUR"] = df13_cleaned["SPUR"].astype(str)
df13_cleaned["TOP/BOTTOM"] = df13_cleaned["TOP/BOTTOM"].astype(str)
df13_cleaned["RAKE NO"] = df13_cleaned["RAKE NO"].astype('Int64')
df13_cleaned["SUB PILE"] = df13_cleaned["SUB PILE"].astype('Int64')
df13_cleaned["ST QNTY"] = df13_cleaned["ST QNTY"].astype('Int64')
df13_cleaned["GCV"] = df13_cleaned["GCV"].astype('float')
df13_cleaned["RC-QNTY"] = df13_cleaned["RC-QNTY"].astype('Int64')
df13_cleaned["AVAILABLE QUANTITY"] = df13_cleaned["AVAILABLE QUANTITY"].astype('Int64')
df13_cleaned["AGING"] = df13_cleaned["AGING"].astype('Int64')
df13_cleaned["TOP GCV"] = df13_cleaned["TOP GCV"].astype('float')
df13_cleaned["TOP QNTY"] = df13_cleaned["TOP QNTY"].astype('Int64')
df13_cleaned["BTM GCV"] = df13_cleaned["BTM GCV"].astype('float')
df13_cleaned["BTM QNTY"] = df13_cleaned["BTM QNTY"].astype('Int64')
df13_cleaned["coal above 3500"] = df13_cleaned["coal above 3500"].astype('Int64')
df13_cleaned["3100-3500"] = df13_cleaned["3100-3500"].astype('Int64')
df13_cleaned["<3100"] = df13_cleaned["<3100"].astype('Int64')

In [ ]:
df13_cleaned.dtypes

STACKING DATE         datetime64[ns]
RAKE NO                        Int64
SPUR                          object
SUB PILE                       Int64
TOP/BOTTOM                    object
ST QNTY                        Int64
GCV                          float64
NaN                           object
RECLIAM DATE          datetime64[ns]
RC-QNTY                        Int64
AVAILABLE QUANTITY             Int64
AGING                          Int64
TOP GCV                      float64
TOP QNTY                       Int64
BTM GCV                      float64
BTM QNTY                       Int64
coal above 3500                Int64
3100-3500                      Int64
<3100                          Int64
Pile_id                       object
dtype: object

In [ ]:
# Load the data from the specific sheet into a pandas DataFrame
df14 = pd.read_excel(file_path, sheet_name="PILE-4B")  # Use sheet_name as a parameter

# Display the first few rows of the DataFrame
#df2
df14_cleaned = df14.iloc[3:10,:19]
#df14_cleaned

In [ ]:
df14_cleaned.rename(columns={'Unnamed: 0': 'STACKING DATE','Unnamed: 1':'RAKE NO','Unnamed: 2': 'SPUR','Unnamed: 3':'SUB PILE','Unnamed: 4':'TOP/BOTTOM','Unnamed: 5':'ST QNTY','Unnamed: 6':'GCV','Unnamed: 7':'NaN','Unnamed: 8':'RECLIAM DATE','Unnamed: 9':'RC-QNTY','Unnamed: 10':'AVAILABLE QUANTITY','Unnamed: 11':'AGING','Unnamed: 12':'TOP GCV','Unnamed: 13':'TOP QNTY','Unnamed: 14':'BTM GCV','Unnamed: 15':'BTM QNTY','Unnamed: 16':'coal above 3500','Unnamed: 17':'3100-3500', 'Unnamed: 18':'<3100'}, inplace=True)


df14_cleaned = df14_cleaned.drop(3, axis=0)
df14_cleaned["Pile_id"]="4B"


## Display the DataFrame after dropping the row
##print("\nDataFrame after dropping the row with index 1:")df_cleaned)
df14_cleaned

,STACKING DATE,RAKE NO,SPUR,SUB PILE,TOP/BOTTOM,ST QNTY,GCV,NaN,RECLIAM DATE,RC-QNTY,AVAILABLE QUANTITY,AGING,TOP GCV,TOP QNTY,BTM GCV,BTM QNTY,coal above 3500,3100-3500,<3100,Pile_id
4,2024-10-10 00:00:00,23,6,1,B,4341,3431,As per result,NaN,NaN,4341,88,0,0,3431,4341,0,4341,0,4B
5,2024-10-19 00:00:00,38,6,1,B,4002,3203,As per result,NaN,NaN,4002,79,0,0,3203,4002,0,4002,0,4B
6,2024-10-20 00:00:00,42,6,1,T,2473,3835,As per result,NaN,NaN,2473,78,3835,2473,0,0,2473,0,0,4B
7,2024-10-22 00:00:00,50,6,1,T,3344,3677,As per result,NaN,NaN,3344,76,3677,3344,0,0,3344,0,0,4B
8,2024-10-26 00:00:00,67,6,1,T,3480,3212.001037,As per result,NaN,NaN,3480,72,3212.001037,3480,0,0,0,3480,0,4B
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,4B

In [ ]:
# Convert specific columns to their respective data types
df14_cleaned["STACKING DATE"] = pd.to_datetime(df14_cleaned["STACKING DATE"], errors='coerce')
df14_cleaned["RECLIAM DATE"] = pd.to_datetime(df14_cleaned["RECLIAM DATE"], errors='coerce')
df14_cleaned["Pile_id"] = df14_cleaned["Pile_id"].astype(str)
df14_cleaned["SPUR"] = df14_cleaned["SPUR"].astype(str)
df14_cleaned["TOP/BOTTOM"] = df14_cleaned["TOP/BOTTOM"].astype(str)
df14_cleaned["RAKE NO"] = df14_cleaned["RAKE NO"].astype('Int64')
df14_cleaned["SUB PILE"] = df14_cleaned["SUB PILE"].astype('Int64')
df14_cleaned["ST QNTY"] = df14_cleaned["ST QNTY"].astype('Int64')
df14_cleaned["GCV"] = df14_cleaned["GCV"].astype('float')
df14_cleaned["RC-QNTY"] = df14_cleaned["RC-QNTY"].astype('Int64')
df14_cleaned["AVAILABLE QUANTITY"] = df14_cleaned["AVAILABLE QUANTITY"].astype('Int64')
df14_cleaned["AGING"] = df14_cleaned["AGING"].astype('Int64')
df14_cleaned["TOP GCV"] = df14_cleaned["TOP GCV"].astype('float')
df14_cleaned["TOP QNTY"] = df14_cleaned["TOP QNTY"].astype('Int64')
df14_cleaned["BTM GCV"] = df14_cleaned["BTM GCV"].astype('float')
df14_cleaned["BTM QNTY"] = df14_cleaned["BTM QNTY"].astype('Int64')
df14_cleaned["coal above 3500"] = df14_cleaned["coal above 3500"].astype('Int64')
df14_cleaned["3100-3500"] = df14_cleaned["3100-3500"].astype('Int64')
df14_cleaned["<3100"] = df14_cleaned["<3100"].astype('Int64')

In [ ]:
df14_cleaned.dtypes

STACKING DATE         datetime64[ns]
RAKE NO                        Int64
SPUR                          object
SUB PILE                       Int64
TOP/BOTTOM                    object
ST QNTY                        Int64
GCV                          float64
NaN                           object
RECLIAM DATE          datetime64[ns]
RC-QNTY                        Int64
AVAILABLE QUANTITY             Int64
AGING                          Int64
TOP GCV                      float64
TOP QNTY                       Int64
BTM GCV                      float64
BTM QNTY                       Int64
coal above 3500                Int64
3100-3500                      Int64
<3100                          Int64
Pile_id                       object
dtype: object

In [ ]:
# Load the data from the specific sheet into a pandas DataFrame
df15 = pd.read_excel(file_path, sheet_name="PILE-4C")  # Use sheet_name as a parameter

# Display the first few rows of the DataFrame
#df2
df15_cleaned = df15.iloc[3:10,:19]
#df15_cleaned

In [ ]:
df15_cleaned.rename(columns={'Unnamed: 0': 'STACKING DATE','Unnamed: 1':'RAKE NO','Unnamed: 2': 'SPUR','Unnamed: 3':'SUB PILE','Unnamed: 4':'TOP/BOTTOM','Unnamed: 5':'ST QNTY','Unnamed: 6':'GCV','Unnamed: 7':'NaN','Unnamed: 8':'RECLIAM DATE','Unnamed: 9':'RC-QNTY','Unnamed: 10':'AVAILABLE QUANTITY','Unnamed: 11':'AGING','Unnamed: 12':'TOP GCV','Unnamed: 13':'TOP QNTY','Unnamed: 14':'BTM GCV','Unnamed: 15':'BTM QNTY','Unnamed: 16':'coal above 3500','Unnamed: 17':'3100-3500', 'Unnamed: 18':'<3100'}, inplace=True)


df15_cleaned = df15_cleaned.drop(3, axis=0)
df15_cleaned["Pile_id"]="4C"


## Display the DataFrame after dropping the row
##print("\nDataFrame after dropping the row with index 1:")df_cleaned)
df15_cleaned

,STACKING DATE,RAKE NO,SPUR,SUB PILE,TOP/BOTTOM,ST QNTY,GCV,NaN,RECLIAM DATE,RC-QNTY,AVAILABLE QUANTITY,AGING,TOP GCV,TOP QNTY,BTM GCV,BTM QNTY,coal above 3500,3100-3500,<3100,Pile_id
4,2024-10-20 00:00:00,40,1,1,B,3025,3214.648958,As per result,NaN,NaN,3025,78,0,0,3214.648958,3025,0,3025,0,4C
5,2024-10-20 00:00:00,41,1,1,B,3051,3686.885403,As per result,NaN,NaN,3051,78,0,0,3686.885403,3051,3051,0,0,4C
6,2024-10-20 00:00:00,43,2,2,B,3085,3427,As per result,NaN,NaN,3085,78,0,0,3427,3085,0,3085,0,4C
7,2024-10-21 00:00:00,44,2,2,B,6036,3751.791336,As per result,NaN,NaN,6036,77,0,0,3751.791336,6036,6036,0,0,4C
8,2024-10-22 00:00:00,49,1,1,T,858,3141,As per result,NaN,NaN,858,76,3141,858,0,0,0,858,0,4C
9,2024-10-23 00:00:00,53,2,2,T,1020,3306,As per result,NaN,NaN,1020,75,3306,1020,0,0,0,1020,0,4C

In [ ]:
# Convert specific columns to their respective data types
df15_cleaned["STACKING DATE"] = pd.to_datetime(df15_cleaned["STACKING DATE"], errors='coerce')
df15_cleaned["RECLIAM DATE"] = pd.to_datetime(df15_cleaned["RECLIAM DATE"], errors='coerce')
df15_cleaned["Pile_id"] = df15_cleaned["Pile_id"].astype(str)
df15_cleaned["SPUR"] = df15_cleaned["SPUR"].astype(str)
df15_cleaned["TOP/BOTTOM"] = df15_cleaned["TOP/BOTTOM"].astype(str)
df15_cleaned["RAKE NO"] = df15_cleaned["RAKE NO"].astype('Int64')
df15_cleaned["SUB PILE"] = df15_cleaned["SUB PILE"].astype('Int64')
df15_cleaned["ST QNTY"] = df15_cleaned["ST QNTY"].astype('Int64')
df15_cleaned["GCV"] = df15_cleaned["GCV"].astype('float')
df15_cleaned["RC-QNTY"] = df15_cleaned["RC-QNTY"].astype('Int64')
df15_cleaned["AVAILABLE QUANTITY"] = df15_cleaned["AVAILABLE QUANTITY"].astype('Int64')
df15_cleaned["AGING"] = df15_cleaned["AGING"].astype('Int64')
df15_cleaned["TOP GCV"] = df15_cleaned["TOP GCV"].astype('float')
df15_cleaned["TOP QNTY"] = df15_cleaned["TOP QNTY"].astype('Int64')
df15_cleaned["BTM GCV"] = df15_cleaned["BTM GCV"].astype('float')
df15_cleaned["BTM QNTY"] = df15_cleaned["BTM QNTY"].astype('Int64')
df15_cleaned["coal above 3500"] = df15_cleaned["coal above 3500"].astype('Int64')
df15_cleaned["3100-3500"] = df15_cleaned["3100-3500"].astype('Int64')
df15_cleaned["<3100"] = df15_cleaned["<3100"].astype('Int64')

In [ ]:
df15_cleaned.dtypes

STACKING DATE         datetime64[ns]
RAKE NO                        Int64
SPUR                          object
SUB PILE                       Int64
TOP/BOTTOM                    object
ST QNTY                        Int64
GCV                          float64
NaN                           object
RECLIAM DATE          datetime64[ns]
RC-QNTY                        Int64
AVAILABLE QUANTITY             Int64
AGING                          Int64
TOP GCV                      float64
TOP QNTY                       Int64
BTM GCV                      float64
BTM QNTY                       Int64
coal above 3500                Int64
3100-3500                      Int64
<3100                          Int64
Pile_id                       object
dtype: object

In [ ]:
# Load the data from the specific sheet into a pandas DataFrame
df16 = pd.read_excel(file_path, sheet_name="PILE-4D")  # Use sheet_name as a parameter

# Display the first few rows of the DataFrame
#df2
df16_cleaned = df16.iloc[3:10,:19]
#df16_cleaned

In [ ]:
df16_cleaned.rename(columns={'Unnamed: 0': 'STACKING DATE','Unnamed: 1':'RAKE NO','Unnamed: 2': 'SPUR','Unnamed: 3':'SUB PILE','Unnamed: 4':'TOP/BOTTOM','Unnamed: 5':'ST QNTY','Unnamed: 6':'GCV','Unnamed: 7':'NaN','Unnamed: 8':'RECLIAM DATE','Unnamed: 9':'RC-QNTY','Unnamed: 10':'AVAILABLE QUANTITY','Unnamed: 11':'AGING','Unnamed: 12':'TOP GCV','Unnamed: 13':'TOP QNTY','Unnamed: 14':'BTM GCV','Unnamed: 15':'BTM QNTY','Unnamed: 16':'coal above 3500','Unnamed: 17':'3100-3500', 'Unnamed: 18':'<3100'}, inplace=True)


df16_cleaned = df16_cleaned.drop(3, axis=0)
df16_cleaned["Pile_id"]="4D"


## Display the DataFrame after dropping the row
##print("\nDataFrame after dropping the row with index 1:")df_cleaned)
df16_cleaned

,STACKING DATE,RAKE NO,SPUR,SUB PILE,TOP/BOTTOM,ST QNTY,GCV,NaN,RECLIAM DATE,RC-QNTY,AVAILABLE QUANTITY,AGING,TOP GCV,TOP QNTY,BTM GCV,BTM QNTY,coal above 3500,3100-3500,<3100,Pile_id
4,2024-10-23 00:00:00,54,8,1,B,2934,3512.17742,As per result,NaN,NaN,2934,75,0,0,3512.17742,2934,2934,0,0,4D
5,2024-10-25 00:00:00,60,5,2,B,4600,3504,As per result,NaN,NaN,4600,73,0,0,3504,4600,4600,0,0,4D
6,2024-10-27 00:00:00,70,5,2,B,4400,3036,As per result,NaN,NaN,4400,71,0,0,3036,4400,0,0,4400,4D
7,2024-10-30 00:00:00,76,5,2,T,2237,3248,As per result,NaN,NaN,2237,68,3248,2237,0,0,0,2237,0,4D
8,2024-11-01 00:00:00,82,8,1,B,5067,3460,As per result,NaN,NaN,5067,66,0,0,3460,5067,0,5067,0,4D
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,4D

In [ ]:
# Convert specific columns to their respective data types
df16_cleaned["STACKING DATE"] = pd.to_datetime(df16_cleaned["STACKING DATE"], errors='coerce')
df16_cleaned["RECLIAM DATE"] = pd.to_datetime(df16_cleaned["RECLIAM DATE"], errors='coerce')
df16_cleaned["Pile_id"] = df16_cleaned["Pile_id"].astype(str)
df16_cleaned["SPUR"] = df16_cleaned["SPUR"].astype(str)
df16_cleaned["TOP/BOTTOM"] = df16_cleaned["TOP/BOTTOM"].astype(str)
df16_cleaned["RAKE NO"] = df16_cleaned["RAKE NO"].astype('Int64')
df16_cleaned["SUB PILE"] = df16_cleaned["SUB PILE"].astype('Int64')
df16_cleaned["ST QNTY"] = df16_cleaned["ST QNTY"].astype('Int64')
df16_cleaned["GCV"] = df16_cleaned["GCV"].astype('float')
df16_cleaned["RC-QNTY"] = df16_cleaned["RC-QNTY"].astype('Int64')
df16_cleaned["AVAILABLE QUANTITY"] = df16_cleaned["AVAILABLE QUANTITY"].astype('Int64')
df16_cleaned["AGING"] = df16_cleaned["AGING"].astype('Int64')
df16_cleaned["TOP GCV"] = df16_cleaned["TOP GCV"].astype('float')
df16_cleaned["TOP QNTY"] = df16_cleaned["TOP QNTY"].astype('Int64')
df16_cleaned["BTM GCV"] = df16_cleaned["BTM GCV"].astype('float')
df16_cleaned["BTM QNTY"] = df16_cleaned["BTM QNTY"].astype('Int64')
df16_cleaned["coal above 3500"] = df16_cleaned["coal above 3500"].astype('Int64')
df16_cleaned["3100-3500"] = df16_cleaned["3100-3500"].astype('Int64')
df16_cleaned["<3100"] = df16_cleaned["<3100"].astype('Int64')

In [ ]:
df16_cleaned.dtypes

STACKING DATE         datetime64[ns]
RAKE NO                        Int64
SPUR                          object
SUB PILE                       Int64
TOP/BOTTOM                    object
ST QNTY                        Int64
GCV                          float64
NaN                           object
RECLIAM DATE          datetime64[ns]
RC-QNTY                        Int64
AVAILABLE QUANTITY             Int64
AGING                          Int64
TOP GCV                      float64
TOP QNTY                       Int64
BTM GCV                      float64
BTM QNTY                       Int64
coal above 3500                Int64
3100-3500                      Int64
<3100                          Int64
Pile_id                       object
dtype: object

In [ ]:
# List of all DataFrames to concatenate
#dfs = [df1_cleaned, df2_cleaned, df3_cleaned, df4_cleaned, df5_cleaned, df6_cleaned, df7_cleaned, df8_cleaned, df9_cleaned, df10_cleaned, df11_cleaned, df12_cleaned, df13_cleaned, df14_cleaned, df15_cleaned, df16_cleaned]

# Concatenate all DataFrames vertically (along rows)
#df_concat = pd.concat(dfs, ignore_index=True)

# Display the concatenated DataFrame
#df_concat
################################################################################################################

# Assuming you have 16 DataFrames named df1, df2, ..., df16
dataframes = [df1_cleaned, df2_cleaned, df3_cleaned, df4_cleaned, df5_cleaned, df6_cleaned, df7_cleaned, df8_cleaned, df9_cleaned, df10_cleaned, df11_cleaned, df12_cleaned, df13_cleaned, df14_cleaned, df15_cleaned, df16_cleaned]

# Start with the first DataFrame
concatenated_df = dataframes[0]

# Concatenate one by one
for df in dataframes[1:]:
    concatenated_df = pd.concat([concatenated_df, df], ignore_index=True)
    # Drop column 7 (assuming zero-based index)
concatenated_df.drop(concatenated_df.columns[7], axis=1, inplace=True)
# Print or use the final concatenated DataFrame
concatenated_df

,STACKING DATE,RAKE NO,SPUR,SUB PILE,TOP/BOTTOM,ST QNTY,GCV,RECLIAM DATE,RC-QNTY,AVAILABLE QUANTITY,AGING,TOP GCV,TOP QNTY,BTM GCV,BTM QNTY,coal above 3500,3100-3500,<3100,Pile_id
0,2024-10-14,27,2,1,B,3385,3304.0,NaT,<NA>,3385,84,0.0,0,3304.0,3385,0,3385,0,1A
1,2024-10-15,29,2,1,B,3092,3244.0,NaT,<NA>,3092,83,0.0,0,3244.0,3092,0,3092,0,1A
2,2024-10-25,58,SILO,2,B,4668,2971.0,NaT,<NA>,4668,73,0.0,0,2971.0,4668,0,0,4668,1A
3,2024-10-26,65,SILO,2,T,3555,3585.0,NaT,<NA>,3555,72,3585.0,3555,0.0,0,3555,0,0,1A
4,2024-10-26,68,SILO,2,T,3246,3753.0,NaT,<NA>,3246,72,3753.0,3246,0.0,0,3246,0,0,1A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,2024-10-25,60,5,2,B,4600,3504.0,NaT,<NA>,4600,73,0.0,0,3504.0,4600,4600,0,0,4D
92,2024-10-27,70,5,2,B,4400,3036.0,NaT,<NA>,4400,71,0.0,0,3036.0,4400,0,0,4400,4D
93,2024-10-30,76,5,2,T,2237,3248.0,NaT,<NA>,2237,68,3248.0,2237,0.0,0,0,2237,0,4D
94,2024-11-01,82,8,1,B,5067,3460.0,NaT,<NA>,5067,66,0.0,0,3460.0,5067,0,5067,0,4D
95,NaT,<NA>,nan,<NA>,nan,<NA>,NaN,NaT,<NA>,0,0,0.0,0,0.0,0,0,0,0,4D

In [ ]:
#converting concatenated dataframe as a csv file and downloading
# concatenated_df.to_csv("piles_data.csv")

In [ ]:
#adding "Sl.No" as a new column
concatenated_df.insert(0, 'Sl.No', range(1, len(concatenated_df) + 1))
concatenated_df

,Sl.No,STACKING DATE,RAKE NO,SPUR,SUB PILE,TOP/BOTTOM,ST QNTY,GCV,RECLIAM DATE,RC-QNTY,AVAILABLE QUANTITY,AGING,TOP GCV,TOP QNTY,BTM GCV,BTM QNTY,coal above 3500,3100-3500,<3100,Pile_id
0,1,2024-10-14,27,2,1,B,3385,3304.0,NaT,<NA>,3385,84,0.0,0,3304.0,3385,0,3385,0,1A
1,2,2024-10-15,29,2,1,B,3092,3244.0,NaT,<NA>,3092,83,0.0,0,3244.0,3092,0,3092,0,1A
2,3,2024-10-25,58,SILO,2,B,4668,2971.0,NaT,<NA>,4668,73,0.0,0,2971.0,4668,0,0,4668,1A
3,4,2024-10-26,65,SILO,2,T,3555,3585.0,NaT,<NA>,3555,72,3585.0,3555,0.0,0,3555,0,0,1A
4,5,2024-10-26,68,SILO,2,T,3246,3753.0,NaT,<NA>,3246,72,3753.0,3246,0.0,0,3246,0,0,1A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,92,2024-10-25,60,5,2,B,4600,3504.0,NaT,<NA>,4600,73,0.0,0,3504.0,4600,4600,0,0,4D
92,93,2024-10-27,70,5,2,B,4400,3036.0,NaT,<NA>,4400,71,0.0,0,3036.0,4400,0,0,4400,4D
93,94,2024-10-30,76,5,2,T,2237,3248.0,NaT,<NA>,2237,68,3248.0,2237,0.0,0,0,2237,0,4D
94,95,2024-11-01,82,8,1,B,5067,3460.0,NaT,<NA>,5067,66,0.0,0,3460.0,5067,0,5067,0,4D
95,96,NaT,<NA>,nan,<NA>,nan,<NA>,NaN,NaT,<NA>,0,0,0.0,0,0.0,0,0,0,0,4D

In [ ]:
concatenated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Sl.No               96 non-null     int64
 1   STACKING DATE       76 non-null     datetime64[ns]
 2   RAKE NO             76 non-null     Int64
 3   SPUR                96 non-null     object
 4   SUB PILE            76 non-null     Int64
 5   TOP/BOTTOM          96 non-null     object
 6   ST QNTY             76 non-null     Int64
 7   GCV                 76 non-null     float64
 8   RECLIAM DATE        3 non-null      datetime64[ns]
 9   RC-QNTY             3 non-null      Int64
 10  AVAILABLE QUANTITY  96 non-null     Int64
 11  AGING               96 non-null     Int64
 12  TOP GCV             96 non-null     float64
 13  TOP QNTY            96 non-null     Int64
 14  BTM GCV             96 non-null     float64
 15  BTM QNTY            96 non-null     Int64
 16  coal above 3500     96 non-null     Int64
 17  3100-3500           96 non-null     Int64
 18  <3100               96 non-null     Int64
 19  Pile_id             96 non-null     object
dtypes: Int64(11), datetime64[ns](2), float64(3), int64(1), object(3)
memory usage: 16.2+ KB

In [ ]:
new_df=concatenated_df[["Pile_id","STACKING DATE","RAKE NO","SPUR","SUB PILE","TOP/BOTTOM","ST QNTY","GCV","RECLIAM DATE","RC-QNTY","AVAILABLE QUANTITY","AGING","TOP GCV","TOP QNTY","BTM GCV","BTM QNTY","coal above 3500","3100-3500", "<3100"]]
new_df
# Delete the last row
new_df = new_df.iloc[:-1]
new_df
new_df.rename(columns={'Pile_id': 'pile_id','SPUR':'spur','GCV': 'gcv','AGING':'aging'}, inplace=True)
# Convert to proper datetime format
new_df['STACKING DATE'] = pd.to_datetime(df['STACKING DATE'], format='%Y-%m-%d %H:%M:%S', errors='coerce')
new_df

,pile_id,STACKING DATE,RAKE NO,spur,SUB PILE,TOP/BOTTOM,ST QNTY,gcv,RECLIAM DATE,RC-QNTY,AVAILABLE QUANTITY,aging,TOP GCV,TOP QNTY,BTM GCV,BTM QNTY,coal above 3500,3100-3500,<3100
0,1A,NaT,27,2,1,B,3385,3304.00000,NaT,<NA>,3385,84,0.0,0,3304.00000,3385,0,3385,0
1,1A,NaT,29,2,1,B,3092,3244.00000,NaT,<NA>,3092,83,0.0,0,3244.00000,3092,0,3092,0
2,1A,NaT,58,SILO,2,B,4668,2971.00000,NaT,<NA>,4668,73,0.0,0,2971.00000,4668,0,0,4668
3,1A,NaT,65,SILO,2,T,3555,3585.00000,NaT,<NA>,3555,72,3585.0,3555,0.00000,0,3555,0,0
4,1A,2024-10-23,68,SILO,2,T,3246,3753.00000,NaT,<NA>,3246,72,3753.0,3246,0.00000,0,3246,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,4D,NaT,54,8,1,B,2934,3512.17742,NaT,<NA>,2934,75,0.0,0,3512.17742,2934,2934,0,0
91,4D,NaT,60,5,2,B,4600,3504.00000,NaT,<NA>,4600,73,0.0,0,3504.00000,4600,4600,0,0
92,4D,NaT,70,5,2,B,4400,3036.00000,NaT,<NA>,4400,71,0.0,0,3036.00000,4400,0,0,4400
93,4D,NaT,76,5,2,T,2237,3248.00000,NaT,<NA>,2237,68,3248.0,2237,0.00000,0,0,2237,0
94,4D,NaT,82,8,1,B,5067,3460.00000,NaT,<NA>,5067,66,0.0,0,3460.00000,5067,0,5067,0

In [ ]:
new_df.dtypes

pile_id                       object
STACKING DATE         datetime64[ns]
RAKE NO                        Int64
spur                          object
SUB PILE                       Int64
TOP/BOTTOM                    object
ST QNTY                        Int64
gcv                          float64
RECLIAM DATE          datetime64[ns]
RC-QNTY                        Int64
AVAILABLE QUANTITY             Int64
aging                          Int64
TOP GCV                      float64
TOP QNTY                       Int64
BTM GCV                      float64
BTM QNTY                       Int64
coal above 3500                Int64
3100-3500                      Int64
<3100                          Int64
dtype: object

In [ ]:
!pip install sqlalchemy psycopg2 pandas

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.11/dist-packages (2.0.37)
Requirement already satisfied: psycopg2 in /usr/local/lib/python3.11/dist-packages (2.9.10)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Example DataFrame
# Database connection URL
db_url = "postgresql+psycopg2://brioadmin:Gbsm%401234@briopgdb.postgres.database.azure.com:5432/gmr"
# Create SQLAlchemy engine
engine = create_engine(db_url)

# Push DataFrame to PostgreSQL table(Shuvadeep_line)
#new_df.to_sql('pile Details', engine,schema='cyms', if_exists='append', index=False)
#Push DataFrame to PostgreSQL table(Satya_line)
new_df.to_sql('pile_details', engine, schema='cyms', if_exists='append', index=False)


print("Data inserted successfully!")

Data inserted successfully!